
#carousel1 img {cursor:pointer;}

#resizable {
	width:75%;    
	overflow:hidden;
}
#carousel1 {
	width:100%;
	height:550px;
}
.js {font-size:30px;}

body {
	margin:5px;
	min-width:90%;
}

a img {
    border:0;
}

#topContainer {}

#carousel1-title {
	font-weight:bold;
}

#nextcontrols {
	text-align:center;
	font-size:9px;
	font-weight:bold;
	color:white;
	position:absolute;
	width:30%;
	height:125px;
	top:560px;
	left:300px; 
}

#left-but, #right-but {
	position:absolute;
	z-index:110;
	cursor:pointer;
}
#left-but {
	width:32px;
	height:32px;
	top:460px;
	left:470px;
}

#right-but {
	width:32px;
	height:32px;
	top: 460px;
	left:618px;
}

#preloader {
	background: url('../icons/default/preloader.gif') no-repeat 50% 50%;
	width:600px;
	height:350px;
	position:absolute;
	z-index:120;
	color:white;
	font-family:arial;
	font-size:11px;	
}
#stopLoading, #startLoading {
	display:none;
	text-decoration:underline;
	cursor:pointer;
}
center {
	background:white;
	padding-top:1px;
	padding-bottom:1px;
}
