.content_left 		{position:absolute; left:0; top:0; width:100%; height:99%; margin: 0; padding:0; overflow:none;} 
.content_main		{position:absolute; left:0; top:0; width:100%; height:100%; margin: 0; padding:0; overflow:hidden;}
.content_home		{position:absolute; left:0; top:0; width:100%; height:100%; margin: 0; padding:0; overflow:hidden;}
.content_index		{position:absolute; left:0; top:0; width:100%; height:100%; margin: 0; padding:0; overflow:hidden;}
.content_artist1    {position:absolute; left:0; top:0; width:100%; height:100%; margin: 0; padding:0; overflow:hidden;}
.content_artist2    {position:absolute; left:0; top:0; width:100%; height:100%; margin: 0; padding:0; overflow:hidden;}
.content_leftpanel 	{position:absolute; left:0; top:0; width:100%; height:100%; margin: 0; padding:0; overflow:hidden;}

.content_welcome	{position:absolute; left:0; top:0; width:97%; height:99%; padding:0 0 0 20px;overflow:hidden;}

#content_index 		.mCustomScrollBox>.mCSB_scrollTools_vertical {width:16px; height:200px; top:200px; right:50px;}
#content_home 		.mCustomScrollBox>.mCSB_scrollTools_vertical {width:16px; height:200px; top:200px; right:20px;}

#content_main 		.mCustomScrollBox>.mCSB_scrollTools_horizontal {bottom:10px}
#content_main 		.mCustomScrollBox>.mCSB_scrollTools_vertical {width:16px; height:200px; top:200px; right:10px; }

#content_artist 	.mCustomScrollBox>.mCSB_scrollTools_vertical {width:16px; height:200px; top:200px; right:0;}
#content_leftpanel 	.mCustomScrollBox>.mCSB_scrollTools_vertical {width:16px; height:200px; top:200px; right:0;}
#content_left 		.mCustomScrollBox>.mCSB_scrollTools_vertical {width:16px; height:200px; top:200px; right:0;}

#content_leftpanel	.mCSB_container {padding-top: 140px;}
