.content_index 		{left:0; top:0; width:95%; height:99%; margin:0 0; padding:0 0 0 0;overflow:auto;}
.content_left 		{position:absolute; left:0px; top:0px; width:94%; padding:0; overflow: none;} 
.content_leftpanel  {position:absolute; left:0px; top:0px; width:94%; padding:140px 5px;overflow:auto;}
.content_main 		{position:absolute; left:0; top:0; padding:0 0 0 0; overflow:auto;}
.content_home 		{position:absolute; left:0; top:0; padding:0 0 0 0; overflow:auto;}
.content_welcome 	{position:absolute; left:0; top:0; width:98%; height:99%; padding:0 0 0 0;overflow:auto;}
.content_template 	{position:absolute; left:0; top:0; width:98%; height:99%; margin:0 0; padding:0 0;overflow:auto;}
.content_artist1 	{position:absolute; left:0; top:0; width:99%; height:94%; margin:0; padding:0px 0px; overflow:auto;}
.content_artist2 	{position:absolute; left:0; top:0; width:99%; height:94%; margin-top:30px; padding:0px 0px; overflow:auto;}