
@font-face {
    font-family: 'noto';
    src: url('../fonts/NotoSans-Regular-webfont.eot');
    src: url('../fonts/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSans-Regular-webfont.woff') format('woff'),
         url('../fonts/NotoSans-Regular-webfont.svg#noto400') format('svg'),
         url('../fonts/NotoSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, form, label, table, a {
    font-family: 'noto', Arial, serif; 
}

h2, h1, .logo {
    font-family: 'noto', Arial, serif; 
}

h1 a, h2 a {
    font-family: 'noto', sans-serif;
    font-weight: bold;
}