/*
 * CSS styleshet for the "Madsonic White" theme.
 */

@import "default.css";

@import "scrollbar-px.css"; 

@import "font-Montserrat.css";

@import "theme/madsonic-sunny/jquery-ui-1.10.4.custom.css";

@import "playericons/playericonsHTML5.css";

.topframe {
	font-size:95%;
}

label  {
	font-size:100%;
}

.topframe table{
	font-size:80%;
}

.mainframe table{
    padding-top:0px; 
}

.mainframe table.detailmini{
	font-size:90%;
}

table {
    margin: 0 0 0 0; 
}

/* The primary background colour. */
.bgcolor1 {
    background-color: #F3F3F3;
}

/* The secondary background colour, light blue, primary theme colour. */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #F7F7F7;
    color: #696969;
}

.mainframe .dense {
	white-space: nowrap;
	font-size: 10pt;
	font-weight: 400;
}

.leftpanel .dense {
	white-space: nowrap;
	font-size: 10pt;
	line-height: 1.3em;
}

.leftpanel .bgcolor2 {
    background-image:url( "../icons/madsonic_sunny/backgroundwhite.png" ); /* bg-repeat-left.png */
    background-repeat:repeat;
    background-attachment:fixed;	
}

/* Main frame image & colour */
.mainframe.splash  {
    background-image:url('../icons/madsonic_sunny/background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: top left;
    background-size: cover;
    
}

.loginsplash  {
    background-image:url('../icons/black/backgroundalpha.png');
    background-repeat:no-repeat;
    background-position: top left;
    background-size: cover;
    background-color: #eee;    
    
    border: 5px solid #111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
    -moz-box-shadow:    0px 0px 35px 15px #222;
    -webkit-box-shadow: 0px 0px 35px 15px #222;
    box-shadow:         0px 0px 35px 15px #222;
}

/* Main frame image & colour */
.mainframe  {
    background-image:url('../icons/madsonic_sunny/backgroundwhite.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: top left;
    background-color: #F7F7F7;	
}

/* Main frame image & colour 
.mainframe {
    background-image:url('../icons/madsonic_sunny/background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color: #F7F7F7;
}
*/

/* Background colour for selected header, log etc. */
.headerSelected {
    color: #fff;
    font-size: 0.8rem;
    border: 1px solid #696969;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
	-webkit-font-smoothing: antialiased;
}

/* The primary foreground color (black). */
body {
    color: #696969;
    background-color: #F7F7F7;
}

/* The secondary foreground colour used for h1, details etc. */
h1, .detail, .albumComment {
    color: #696969;
}

/* Welcome view */
.mainframe .content_welcome h1 a{
    text-shadow: 0.0em 0.0em 1.0em #FFFAFA;	
	margin: 10px 0 0;
	margin-top: 10px;	
}


h1,.mainframe h1 a{
    color: #A3A3A3;
    text-shadow: 0.0em 0.0em 0.5em #FFFAFA;	
	margin: 0 0 0;
	margin-top: 4px;
}

.mainframe  h2  a{
    text-shadow: 0.0em 0.0em 1.0em #FFFAFA;	
}

.mainframe  h2  a:hover {
   color: #A4A4A4;
   	opacity:0.75;
	filter:alpha(opacity=75); /* For IE8 and earlier */	
}

.mainframe #anchor_list a:link, 
.mainframe #anchor_list a:active, 
.mainframe #anchor_list a:visited, 
.mainframe #anchor_list a:link *, 
.mainframe #anchor_list a:active *, 
.mainframe #anchor_list a:visited * {
    color: #FFFFFF;
    text-shadow: 0 0 0.6em #828056;
    margin: 0 0 0;
}

.mainframe #content_artist  #anchor_list a{
    text-shadow: 0.0em 0.0em 1.0em #FFFAFA;	
    color: #A3A3A3;
}

.mainframe #content_artist h2 a {
    text-shadow: 0.0em 0.0em 1.0em #FFFAFA;	
	color: #A4A4A4;
}

.mainframe .dense {
white-space: nowrap;
font-size: 9pt;
margin: 8px;
/* line-height: 1.5em; */
}

.mainframe .dense a {
white-space: nowrap;
font-size: 9pt;
font-weight: 600;
/* line-height: 1.5em; */
}


.custom-icon-rank {
  font-size:10px;
  font-family: 'Montserrat', Arial, serif  !important;
}

.custom-icon {
  font-size:7px;
  background:#fff;
  padding:7px 4px 2px 4px;
  margin:0px;
  /* background:rgba(0,0,0,0.2); */
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ccc !important;
  color:#888;
 	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08); 
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:15px;
  height:15px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(1,1,1,0.1);
  color: #009BCA;
}

.custom-icon-header {
  font-size:20px !important;
  background:#fff;
  padding:7px 4px 3px 4px;
  margin:0 0 8px 0;
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ccc !important;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:24px;
  height:24px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-nohover {
  font-size:7px;
  background:#fff;
  padding:6px 4px 2px 4px;
  margin:0px;
  /* background:rgba(0,0,0,0.2); */
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ddd !important;
  color:#888;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:15px;
  height:15px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-nohover:hover {
  color: orange;
}

.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}
    white-space: nowrap;
    font-size: 6pt;
    line-height: 1.40em;
	background-image: url('../icons/madsonic_sunny/rank.png');
	background-position:right;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 4px;
	padding-right: 3px;
	padding-bottom: 8px;
	margin-left: 5px;
	color: white;
	opacity: 0.99;
}

.detail, .albumComment {
	font-size: 8pt;
}

.album {
    font-size: 9pt;
}


/* Text colour used for h1, h2, b, tr, details and albumcomments. 
h1, h2, b, tr, .detail, .albumComment {
	font-family: 'Fjalla One', Arial, serif; font-weight: 400;
	font-size: 10pt;
    text-decoration: none;		
}
*/

/* Foreground colour used for h2, bold and tr. */
h2, b, tr {
	margin: 0.5em 0 0 0;
    color: #696969;
}

.leftpanel .bgcolor2 {
    background-color: #EBEBEB;
}

/* Back image */
.back, .forward {
	font-size: 9pt;
	background-repeat: no-repeat;
	background-position: center left;
    background-image:url( "../icons/madsonic_sunny/back.png" );
	padding-left: 20px;
	line-height: 20px;
}

/* Forward image */
.forward  {
	font-size: 9pt;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
	line-height: 20px;
    background-image:url( "../icons/madsonic_sunny/forward.png" );
}

/* Forward image */
.forwardright {
	font-size: 9pt;
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 20px;
	line-height: 20px;
    background-image:url( "../icons/madsonic_sunny/forward.png" );
}

/*
.rightframe.bgcolor1 {
    background-image:url("../icons/madsonic_sunny/chatbg.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}
*/

.artistbanner {
background-image:url("../icons/default/artist_banner.png");
background-position: 0px 0px; 
background-repeat:no-repeat; 
}

.artisthub {
background-image:url("../icons/madsonic_sunny/artisthub.png");
background-position: 0px 0px; 
background-repeat:no-repeat; 
}

.rightframe a:link, .rightframe a:active, .rightframe a:visited, .rightframe a:link *, .rightframe a:active *, .rightframe a:visited * {
   font-size: 8pt;
   text-decoration: none;
   color: #6E6E6E;
}

.topframe a:link, .topframe a:active, .topframe a:visited, .topframe a:link *, .topframe a:active *, .topframe a:visited * {
   font-size: 8pt;
   text-decoration: none;
   color: #6E6E6E;
}


a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
  /* font-size: 9pt; */
   color: #1F5E81;
}

/* Link hovers. */
.topframe a:hover, .topframe a:hover * {
    text-shadow: 0.1em 0.2em 0.2em #D8D8D8;
    text-decoration: none;
   color: #6E6E6E;
	opacity:0.75;
	filter:alpha(opacity=75); /* For IE8 and earlier */
}

/* Link colour 
.mainframe a:link, .mainframe a:active, .mainframe a:visited, .mainframe a:link *, .mainframe a:active *, .mainframe  a:visited * {
   color: #9A9A9A;
}*/


td a img {
	margin-right: 2px;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #1F5E81;
}

a:hover, a:hover * {
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.1em #D8D8D8;
    color: #1F5E81;
/}

.topframe a:hover, .topframe a:hover * {
    opacity:0.85;
    filter:alpha(opacity=85);  
}

.leftpanel a:link, .leftframe a:active, .leftframe a:visited, .leftframe a:link *, .leftframe a:active *, .leftframe a:visited * {
   font-size: 9pt; 
}

.genre a:link, .genre a:active, .genre a:visited, .genre a:link *, .genre a:active *, .genre a:visited * {
 /*  font-size: 9pt; */
    color: #999;
}

/* Link hovers. */
.genre a:hover, .genre a:hover * {
    color: #666;
}

.innerbox {
	border: 2.5px solid #D8D8D8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width:100%;
} 

.coverbox .innerbox  {
	border: 2.5px solid #D8D8D8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width:100%;
}

.detail a img {
	padding-bottom: 2px;
	padding-right: 1px;
	padding-left: 3px;
	/* display:none;
	width:16px;
	hight:16px;*/
}

.maincontrol a img {
	padding-bottom: 2px;
	padding-right: 1px;
	padding-left: 3px;
	/* display:none;
	width:16px;
	hight:16px;*/
}

/* Custom */
.searchbox .innerbox {
	border: 2.5px solid #D8D8D8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 100%;
}

.detail {
	/*line-height: 1.50em;*/
}
 
.detailcolordark {
	/*line-height: 1.50em;*/
	/*white-space: nowrap;
	color: #D8D8D8;
	font-size: 0.8rem;
	font-family: 'Fjalla One', Arial, serif; font-weight: 400;
	line-height: 1.75em;*/
}

.detailmini {
	white-space: nowrap;
	font-size: 9pt;
	line-height: 1.25em;
}

.detailcolor {
	/*line-height: 1.50em;*/
	font-size: 9pt;
	color: #000;
}

/* Colour for warning messages. 
.warning {
   color: rgb(255, 163, 0);
   font-size: 9pt;
}
*/

label, p {
	color: #696969;
}
.ruleTableCellDB {
    border: 1px solid black;
    white-space: nowrap;
    font-size: 8pt !important;
    margin: 3px;
    padding: 2px;
    padding-right: 10px;
}

.logo {
	padding-right:2em;
}

.topframe {
    background-image:url( "../icons/madsonic_sunny/headerbg.png" );
    background-repeat:repeat-x;
    background-attachment:fixed;
}

.topframe .logo img{
	width:165px;
    height:38px;
}

.NFButtonLeft {
    background: url() no-repeat scroll 0 0 transparent;
}
.NFButtonRight {
    background: url() no-repeat scroll 0 0 transparent;
}

input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1DBDB;
    border-radius: 5px;
    color: #444444;
    font-size: 9pt;	
    padding: 8px 15px 8px 15px !important;
}

select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1DBDB;
    border-radius: 5px;
    color: #444444 !important;
    font-size: 9pt;	
    padding: 8px 15px 8px 15px !important;
}

input[type=button],input[type=submit]{
	color: #dfdfdf;
	text-shadow: 1px 1px 1px #111;
	padding: 4px 11px;
}

input[type=button]{
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
	border: 1px solid #111;
}
input[type=submit]{
	background: #3567a0; /* Old browsers */
	background: -moz-linear-gradient(top, #3567a0 0%, #1c5396 50%, #1f4c87 53%, #0b3c74 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3567a0), color-stop(50%,#1c5396), color-stop(53%,#1f4c87), color-stop(100%,#0b3c74)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* IE10+ */
	background: linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* W3C */
	border: 1px solid #06203e;
}


@charset "UTF-8";
::-webkit-scrollbar {
	width: 13px;
	height: 13px;
	background: #C0C0C0 url(../icons/madsonic_sunny/bg-repeat.png) 0 0 repeat;
}

::-webkit-scrollbar-track-piece {
	background: transparent none;
	border: solid 4px transparent;
	border-right-width: 8px;

	-webkit-box-shadow: inset 1px 1px 0 0 rgb(137,131,117), inset -1px -1px 0 0 rgb(224,220,210);
}

::-webkit-scrollbar-track-piece:horizontal {	
	border-right-width: 4px;
	border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(128,128,128, 0.49), inset 0 0 0 6px #CFCFD0;
}

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(128,128,128, 0.49), inset 0 0 0 6px #D8D8D8;
}
::-webkit-scrollbar-thumb:horizontal {
	border-right-width: 0;
	border-bottom-width: 4px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px 9px;
	-webkit-border-bottom-left-radius: 5px 9px;
}
::-webkit-scrollbar-corner {	
	background: #C0C0C0 url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
}
::-webkit-scrollbar-button {	
	height: 26px;
	background: url(../icons/madsonic_sunny/webkit-arrows-vert.png) 1px 50% no-repeat, #C0C0C0 url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
}
::-webkit-scrollbar-button:increment {
	background-position: -19px 50%;
}
::-webkit-scrollbar-button:horizontal {
	width: 26px;
	background: url(../icons/madsonic_sunny/webkit-arrows-horiz.png) 50% 1px no-repeat, #C0C0C0 url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
}
::-webkit-scrollbar-button:horizontal:increment {
	background-position: 50% -19px;
}

body ::-webkit-scrollbar {
	background: transparent none;
}

body ::-webkit-scrollbar-button:horizontal:decrement {
	background: transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.1)), color-stop(100%, rgba(255,255,255,.1))) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-horiz.png) 50% 1px no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-horiz.png) 50% 1px no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-horiz.png) 50% 1px no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
}
body ::-webkit-scrollbar-button:horizontal:increment {
	background: transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.1)), color-stop(100%, rgba(255,255,255,.1))) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-horiz.png) 50% -19px no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-horiz.png) 50% -19px no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-horiz.png) 50% -19px no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
}

body ::-webkit-scrollbar-button:vertical:decrement {
	background: transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,.1))) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-vert.png) 1px 50% no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-vert.png) 1px 50% no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-vert.png) 1px 50% no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
}
body ::-webkit-scrollbar-button:vertical:increment {
	background: transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,.1))) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-vert.png) -19px 50% no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-vert.png) -19px 50% no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../icons/madsonic_sunny/webkit-arrows-vert.png) -19px 50% no-repeat, none url(../icons/madsonic_sunny/bg-repeat.png) 0 0 no-repeat;
}

.context-menu-item span {
	font-size: 9pt;
}

span {
	font-size: 9pt;
}

span.off:hover , 
span.on:hover {
    font-size: 8pt !important;
    background: #CEDBF8 !important;
 }

span.on {
    font-size: 8pt !important;
    background: #A0BDFF !important;	
 }
 
span.off.hover, 
span.on.hover, 
span.off a:link, 
span.off a:active, 
span.off a:visited, 
span.off a:link *, 
span.off a:active *, 
span.off a:visited * {
	font-size: 8pt !important;
}

span.off2.hover, 
span.on2.hover {
    font-size: 8pt !important;
	color: #ffffff !important;
	background: #CEDBF8 !important;
	border: solid 1px #FF70C8 !important;
	}
	
span.off2 a:link, 
span.off2 a:active, 
span.off2 a:visited, 
span.off2 a:link *, 
span.off2 a:active *, 
span.off2 a:visited * {
font-size: 8pt;
    color: #FFFFFF;
}

.divIdCoverBack {
top: -59px; 
left: 2px;
}

.albumComment {
    width: 50em;
    font-size: 85%;
    line-height: 1.4em;
    padding-top: 0.25em;
}

.albumThumb {
    display:inline-block;
    vertical-align: top;
    padding-bottom: 1em;
    padding-right: 1em;
}

#media_control {
	padding-top: 10px;
	padding-bottom: 10px;
}

#progress {
    color: #888 !important;
}

#duration {
    color: #888 !important;
}

#bitrate_menu {
    color: #888 !important;
    background-color: #fff !important;
	border: 1px solid #E2E2E2 !important;
}

option {
    background-color: #fff !important;
    color: #000 !important;
}


#overlay {
    background-color: #aaa !important;
 }
 
 #toogleGenre {
	top: 80px;
}

.easyPieChartBarColor {
	color:#3ea5de;
}
.easyPieChartScaleColor {
	color:#B9D5E4;
}
.easyPieChartTrackColor {
	color:#B9D5E4;
}	

.offline {
color: #FF7400;
}


.accent {
    color: #888;
}

.dd-theme-classic, .dd-all {
border-color: #D0D0D0 !important;
}

/* Table with some white space above it.*/
table.indent {
    margin: 1em 0 0.4em 0;
}

table.music {
    line-height: 140%;
    border-collapse:collapse;
    white-space:nowrap;
    width: 100%;
}

table.music {
    line-height: 140%;
    border-collapse:collapse;
    white-space:nowrap;
    width: 100%;
}

td.fit {
    width:1px;
    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    padding-bottom:2px;    
}

td.truncate {
    max-width:50px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:2px;    
}

td.rightalign {
    text-align:right;
    padding-right: 20px;
    padding-top:2px;
    padding-bottom:2px;    
}

table.content {
    line-height: 200%;
}

#content_main table.music tr { line-height: 25px; font-size: 1.0em; border-bottom: 1px solid #ddd !important; }

table.music tr:nth-of-type(even) {  line-height: 25px;background: rgba(0,0,0,.06); }
table.music tr:nth-of-type(odd) {  line-height: 25px;background: rgba(0,0,0,.02); }

#content_main  table.content tr:nth-of-type(even) {  line-height: 25px;background: rgba(0,0,0,.06); }
#content_main  table.content tr:nth-of-type(odd) {  line-height: 25px;background: rgba(0,0,0,.02); }

#content_main  table th { line-height:25px;}
#content_main  table tr { border-bottom: 1px solid #ddd !important; }

#playlistBody tr { line-height:25px; border-bottom: 1px solid #ddd !important;}
#playlistBody tr:nth-of-type(even) {line-height:25px;background: rgba(0,0,0,.06); }

/* Custom */
span.off {
    background: #FFF !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;
}

span.on {
    background: #33B5E5 !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;    
}

span.off:hover {
    background: #33B5E5 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
    }

span.off2 {
    background: #333;    
    cursor: pointer;
    float:left;
    padding: 3px 9px;
    margin: 2px;
    color: #FFF;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #333;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space: nowrap;
    font-size: 8pt;    
}

span.on2 {
    	cursor: pointer;
		float:left;
		padding: 3px 9px;
		margin: 2px;
        background: #33B5E5;
		color: #FFF;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
        border: solid 1px #fff;
		-webkit-transition-duration: 0.1s;
		-moz-transition-duration: 0.1s;
		transition-duration: 0.1s;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		white-space: nowrap;
        
    font-size: 8pt;    
}

span.on2:hover  {
    background: #33B5E5 !important;
    border: solid 1px #fff  !important;
    }

span.off2:hover  {
    background: #000 !important;
    border: solid 1px #000  !important;
    }
    
#play, #pause, #buffer {
    color: #009BCA !important;
}

#startButton, #stopButton, #bufferButton  {
    cursor:pointer; font-size:30px; color:#009BCA !important;
}

#previousButton, #nextButton ,#fastpreviousButton, #fastnextButton  {
    color:#222 !important; 
}

.playlistframe #progress, #progress-slider, #volume, #volume-slider {
    background: #d8d8d8 !important;
}

#cc-on, #cast-active {
    color: #009BCA !important;
}

.ui-slider-range-min {
    background: #009BCA !important;
}

.ui-slider .ui-slider-handle {
    background: #009BCA !important;
}

.fa-inverse {
    color: #8DEFFB !important;
} 

.starred {
    color: #009bca !important;
}

.loved {
    color: #009bca !important;
}


.custom-icon-rank {
  font-size:10px;
  font-family: 'Montserrat', Arial, serif  !important;
}

.custom-icon {
  font-size:7px;
  background:#fff;
  padding:7px 4px 2px 4px;
  margin:0px;
  /* background:rgba(0,0,0,0.2); */
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ccc !important;
  color:#888;
 	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08); 
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:15px;
  height:15px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(1,1,1,0.1);
  color: #009BCA;
}

.custom-icon-header {
  font-size:20px !important;
  background:#fff;
  padding:7px 4px 3px 4px;
  margin:0 0 8px 0;
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ccc !important;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:24px;
  height:24px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-nohover {
  font-size:7px;
  background:#fff;
  padding:6px 4px 2px 4px;
  margin:0px;
  /* background:rgba(0,0,0,0.2); */
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ddd !important;
  color:#888;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:15px;
  height:15px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-nohover:hover {
  color: orange;
}

.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}

.jumbotron {
    color: #333  !important;
    background-color: #ddd !important;
}


.custom-icon-rank {
  font-size:10px;
  font-family: 'Montserrat', Arial, serif  !important;
  /* padding:7px 4px 2px 4px; */
}

.custom-icon {
  font-size:7px;
  background:#fff;
  padding:7px 4px 2px 4px;
  margin:3px 1px 3px 1px;
  /* background:rgba(0,0,0,0.2); */
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ccc !important;
  color:#888;
 	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08); 
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:15px;
  height:15px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(1,1,1,0.1);
  color: #009BCA;
}

.custom-icon-header {
  font-size:20px !important;
  background:#fff;
  padding:7px 4px 3px 4px;
  margin:0 0 8px 0;
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ccc !important;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:24px;
  height:24px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-main {
  font-size:14px !important;
  background:#fff;
  padding:7px 4px 3px 4px;
  margin:0 0 8px 0;
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ccc !important;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:16px;
  height:16px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-nohover {
  font-size:7px;
  background:#fff;
  padding:6px 4px 2px 4px;
  margin:0px;
  /* background:rgba(0,0,0,0.2); */
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #ddd !important;
  color:#888;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:15px;
  height:15px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}