/*
 * CSS styleshet for the "Madsonic NEW Default" theme.
 */

@import "font-Noto.css";
 
@import "madsonic_default.css";

@import "playericons/playericonsHTML5.css";


/* Put stuff here if you need to customize any of the frames. */

.leftframe {
}

.leftpanel {
}

.mainframe {
}

.rightframe {
}

.sidepanel {
}

.playlistframe {
}
