/*
 * CSS styleshet for the "Madsonic Petrol" theme.
 */
 
@import "default.css"; 

@import "font-Montserrat.css";

@import "font-MaterialIcons.css";

@import "playericons/playericons4klight.css";
 
@import "theme/madsonic-petrol/jquery-ui-1.10.4.custom.css";

@import "jquery.mCustomScrollbar3.css"; 

/* The primary background color (light gray). */
.bgcolor1  {
    background-color: #3b443c;
}

/* The secondary background color (darker gray). */
.bgcolor2, .ruleTableHeader, .log  {
    background-color: #262C2C;
}

.topframe::-webkit-scrollbar:vertical {
    display:none;
}

.playlistframe::-webkit-scrollbar:vertical, .playlistframe::-webkit-scrollbar:horizontal {
    display:none;
}

.leftframe::-webkit-scrollbar:vertical, .leftframe::-webkit-scrollbar:horizontal {
    display:none;
}

/***************************************************************************************
 * The rest of the CSS is typically not changed in other themes (but not necessarily so).
 ***************************************************************************************/

body {
    padding:0;
    border:0;
    margin:0.75em;
    font-size: 9pt;
    line-height: 1.5em;
}

p {
    padding:0;
    border:0;
    margin:0 0 1em 0;
}

.dense {
    white-space: nowrap;
    font-size: 9pt;
    margin: 0;
    line-height: 1.3em
}

.leftpanel p.dense{
    clear: both;
    padding: 4px;
    border-bottom: 1px dotted #ccc;
    line-height: 1.1em;
}

h2 {
    margin: 10px 0 0 5px;
    font-size: 10pt;    
}

.browse-index-shortcut {
    padding-bottom: 15px !important;
    font-size: 18px !important;
    line-height: 75% !important;
}

table {
    font-size: 100%; 
    line-height: 150%;
    padding: 0;
    border: 0;
    margin: 0 0 0.4em 0;
}

.mainframe #content_artist  #anchor_list a{
    font-size: 16pt;    
}

#content_artist h1 {
    padding: 10px 0 10px 0 !important;
}

.divIdCoverBack {
top: -58px;
left: 1px;
}

.logo {
    padding-right:1em;
}

.maincontrol a {
    font-weight: 700;
}


.maincontrol a img {
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
    /* display:none; 
    width:0;
    height:0;*/
    opacity:0.90;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}

.playingframe .songTitle {
    font-size: 13px; 
}

.playingframe span {
    font-size: 12px;
}
  
.mainframe .controls {
    margin: 5px 3px 5px 3px;
    padding: 0 0 0 0;
}

.playlistframe .controls {
    margin: 0 0 0 0;
    padding: 2px 0 2px 0;
}

.playlistframe .starSong {
    margin: 0 4px 1px 2px;
}

.content_home , .content_main{
    background-image: url("../icons/default/panel2.png");
    background-repeat: no-repeat;
    background-position: top left;
    z-index:10;    
}

.leftframe .bgcolor2 {
  /*  background: url("../icons/madsonic_4kpetrol/left.png") repeat-x fixed; */
}

.leftframe, .leftpanel {
    background: #262C2C url("../icons/madsonic_4kpetrol/background-left.png") repeat fixed;
}

.playingframe.bgcolor1 {
    background-image: url(../icons/default/panel.png);
    background-repeat: no-repeat;
    background-position: top left; 
    background-color: #434e45;
}

/* The primary foreground color. */
body {
    color: #DDDDDD;
}

/* The secondary foreground color used for h1, details etc. */
h1, .detail, .albumComment {
    color: #DDDDDD;
}

/* Foreground color used for h2, bold and tr. */
h2, b, tr {
    color: #DDDDDD;
}

.detail {
    font-size: 9pt;
    white-space: nowrap;
}

.songTitle {
  font-size: 100%; 
  margin-top: 5px;
  padding-top: 5px;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #8cce38;
}

/* Link hover color */
a:hover, a:hover * {
	text-decoration: none;
    color: #aeff47;
}

.topframe a:hover, .topframe a:hover * {
    opacity:0.85;
    filter:alpha(opacity=85);  
}

/* Main frame image & colour */
.loginsplash  {
    color: #666;
    background: #222 url('../icons/madsonic_4kpetrol/backgroundalpha.png') no-repeat top left;
    background-size: cover;
    border: 5px solid #111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
    -moz-box-shadow:    0 0 35px 15px #222;
    -webkit-box-shadow: 0 0 35px 15px #222;
    box-shadow:         0 0 35px 15px #222;
}

.topframe {
    background: url("../icons/madsonic_4kpetrol/top.png") no-repeat fixed;
}

.artistindex {
    background-color: #2f3830 !important;
}

#artistBio {
    line-height: 18px;
    padding-bottom: 15px;
    border-top: 1px dotted #888;
    padding-top: 15px;
    font-size: 9.0pt;
}


.ruleTableHeaderPlaylists {
	padding-right:1em;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
}

.ruleTableCellPlaylists {
	padding-top: 4px;
	padding-right:1em;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
}

table.music {
    line-height: 150%;
    border-collapse:collapse;
    white-space:nowrap;
    width: 100%;
}

table.music { margin-top: 10px; } 
table.music tr { line-height: 30px; } 

table.music tr:nth-of-type(even) { background: rgba(0,0,0,.3) !important; }
table.music tr:nth-of-type(odd) { background: rgba(0,0,0,.1) !important; }

table.content tr:nth-of-type(even) { background: rgba(0,0,0,.3) !important; }
table.content tr:nth-of-type(odd) { background: rgba(0,0,0,.1) !important; }

.mainframe table tr { border-bottom: 1px solid #333 !important; }

#content_artist table tr { border-bottom: 0px solid #333 !important; }

#playlistBody tr { line-height:25px; border-bottom: 1px solid #333 !important; }

#playlistBody tr:nth-of-type(even) {line-height:25px;background: rgba(0,0,0,.1); }
#playlistBody tr:nth-of-type(odd) {line-height:25px;background: rgba(0,0,0,.2); }



/* Background color for selected header, log etc. */
.headerSelected {
    color: #daffab;
	background-color: rgba(90, 150, 30, 0.5);
}

/* Background color for selected header, log etc. */
.viewSelected {
    color: black;
    background-color: #8bc34a;
	border: 0px solid black !important;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;    
}

.headerSelected {
/*    border: 1px solid #B18904;  */
	border: 0px solid black !important;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
}

.ui-widget input {
    color: #888 !important;
}

#content_left .bgcolor2 {
    background-color: #333;
}

h2.bgcolor2 {
    background-color: #444;
}
.mainframe .bgcolor2 {
    background-color: rgba(31, 31, 31, 0.2);
}

.topframe.bgcolor2 {
    background-color: #0F0E0E;
}

.ruleTableHeader {
 /*   background-color: #1F1F1F; */
}

table.editor .ruleTableHeader,
table.editor .ruleTableCellHeader,
table.editor .ruleTableCell  {
    border: 0px solid #444;   
}
.ruleTableHeader,
.ruleTableCellHeader,
.ruleTableCell ,
.border1,
.log { 
    border: 1px solid #6d6d6d;
}

.leftpanel p.dense{
    clear: both;
    padding: 4px;
    border-bottom: 1px dotted #1D1D1D;
    /* text-shadow: 2px 2px #080808; */
    line-height: 1.4em;
    font-size: 8pt;	
}
.leftpanel p.dense:last-child{
    border: none;
}
.leftpanel p.dense:first-child{
    padding-top: 10px;
}

.leftpanel th img{
    display: none;
}

/* Main frame image & colour */
.mainframe.splash  {
    background: url('../icons/madsonic_sunny/background.png') no-repeat fixed top left;
    background-size: cover;
}

/* Back image */
.back, .forward {
    font-size: 9pt;
    background: url("../icons/madsonic_4kpetrol/back.png") no-repeat center left;
    padding-left: 20px;
    line-height: 20px;
}

/* Forward image */
.forward  {
    font-size: 9pt;
    padding-left: 20px;
    line-height: 20px;
    background: url("../icons/madsonic_4kpetrol/forward.png") no-repeat center left;
}

/* Forward image */
.forwardright {
    font-size: 9pt;
    padding-right: 20px;
    line-height: 20px;
    background: url("../icons/madsonic_4kpetrol/forward.png") no-repeat center right;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    /* background: #222; */
}

::-webkit-scrollbar-corner {
    /* background: #222; */
}

::-webkit-scrollbar-track-piece {
	background: transparent none;
	border: solid 4px transparent;
	border-right-width: 8px;
	margin: 4px;
	-webkit-box-shadow: inset 1px 1px 0 0 rgba(137,131,117,0.2), inset -1px -1px 0 0 rgba(224,220,210,0.2);
}
::-webkit-scrollbar-track-piece:horizontal {
	border-right-width: 4px;
	border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 6px rgb(102,102,102);
}
::-webkit-scrollbar-thumb:hover {						
	-webkit-box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 6px rgb(110,110,110);
}
::-webkit-scrollbar-thumb:horizontal {
	border-right-width: 0;
	border-bottom-width: 4px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px 9px;
	-webkit-border-bottom-left-radius: 5px 9px;
}

#content_artst .innerbox:hover {
    opacity: 0.75;
    filter: alpha(opacity=75); 
    border: 0;
}

#content_artst .innerbox {
    opacity: 0.90;
    filter: alpha(opacity=90); 
    border: 0;
}

#content_left .bgcolor2 {
    background-color: #1F1F1F;
    opacity: 0.80;
}

#content_playqueue .bgcolor2 {
    background-color: #111;
}

#content_playqueue .bgcolor1 {
}

#content_artst .bgcolor2 {
    background-color: #1F1F1F;
    opacity: 0.80;
}

#content_artst .bgcolor1 {
    background-color: #333;
    opacity: 0.90;
}

.dropshadow {
    border: 0px solid #111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.95;
    filter:alpha(opacity=95); 
    -moz-box-shadow:    2px 2px 15px 0 #111;
    -webkit-box-shadow: 2px 2px 15px 0 #111;
    box-shadow:         2px 2px 15px 0 #111;
}

.playlistframe .rank {
    margin-right: 2px;
}

.rankEX {
    white-space: nowrap;
    font-size: 6pt;
    line-height: 1.40em;
    background: url('../icons/madsonic_4kpetrol/rank.png') no-repeat right;
    padding: 4px 3px 4px 8px;
    margin-left: -2px;
    color: #FFC200;
    font-family: verdana, arial, sans-serif;
}


/* Custom */
span.off {
    background: #FFF !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;
}

span.on {
    background: #8BC34A !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;    
}

span.off:hover {
    background: #8BC34A !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
    }

span.off2 {
    background: #333;    
    cursor: pointer;
    float:left;
    padding: 3px 9px;
    margin: 2px;
    color: #FFF;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #333;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space: nowrap;
    font-size: 8pt;    
}

span.on2 {
    	cursor: pointer;
		float:left;
		padding: 3px 9px;
		margin: 2px;
        background: #8BC34A;
		color: #FFF;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
        border: solid 1px #fff;
		-webkit-transition-duration: 0.1s;
		-moz-transition-duration: 0.1s;
		transition-duration: 0.1s;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		white-space: nowrap;
        
    font-size: 8pt;    
}

span.on2:hover  {
    background: #8BC34A !important;
    border: solid 1px #fff  !important;
    }

span.off2:hover  {
    background: #000 !important;
    border: solid 1px #000  !important;
    }
    

.ruleTableCellDB {
    border: 1px solid #222;
    white-space: nowrap;
    font-size: 7pt;
    margin: 1px;
    padding: 2px;
}

.maincontrol {
    line-height: 30px;
}


img.starSong {
    margin-top: 4px;    
    margin-right: 8px;
}

img#starImage {
    padding-left: 1px;    
    padding-right: 8px;
    padding-bottom: 3px;
}

#bitrate_menu {
    color: #999 !important;
}    

 #toogleGenre {
    top: 76px;
}

input {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    font-family: 'Montserrat', Arial, serif; 
    font-weight: 400;
    padding: 7px 10px 7px 10px;
	margin-right: 2px;	
	margin-bottom: 2px;			
    font-size: 11px;
    color: #fff !important;
    background-color: #2a2f2f;
    border: 1px solid #444;
    /* background-image: url("../icons/madsonic_4kpetrol/bg-noise.jpg" ); */
    /* background-repeat: repeat; */
    /* background-size: 140px 140px; */
}

select, button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1DBDB;
    border-radius: 5px;
    color: #444444 !important;
    font-family: 'Montserrat', Arial, serif; 
    font-weight: 400;
    padding: 7px 10px 7px 10px;
	margin-right: 2px;	
	margin-bottom: 2px;			
    font-size: 11px;
    color: #fff !important;
    border: 1px solid #444;
    background-color: #2a2f2f;
}

button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1DBDB;
    border-radius: 5px;
    color: #444444 !important;
    font-family: 'Montserrat', Arial, serif; 
    font-weight: 400;
    padding: 7px 10px 7px 10px;
	margin-right: 2px;	
	margin-bottom: 2px;			
    font-size: 11px;
    color: #fff !important;
    border: 1px solid #444;
    background-color: #2a2f2f;   
}


button{
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
    background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
    border: 1px solid #111;
}
 
input[type=button]{
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
    background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
    border: 1px solid #111;
}
input[type=submit]{
    background: #3567a0; /* Old browsers */
    background: -moz-linear-gradient(top, #3567a0 0%, #1c5396 50%, #1f4c87 53%, #0b3c74 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3567a0), color-stop(50%,#1c5396), color-stop(53%,#1f4c87), color-stop(100%,#0b3c74)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* IE10+ */
    background: linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* W3C */
    border: 1px solid #06203e;
}


#listRows {
    font-size: 11px;
    float: left;
    color: #fff !important;
    background-color: #333;
    display: block;
    border: 1px solid #444;
}

#listColumns {
    font-size: 11px;
    float: left;
    color: #fff !important;
    background-color: #333;
    display: block;
    border: 1px solid #444;
}

#query {
    font-size: 11px;
    color: #000 !important;
    border: 1px solid #eee;
    background-image: url("../icons/madsonic_4kpetrol/bg-white.jpg");
} 

#j_username {
    color: #222 !important;
    border: 1px solid #ddd;
    background-image: url("../icons/madsonic_4kpetrol/bg-white.jpg");
}

#j_password {
    color: #222 !important;
    border: 1px solid #ddd;
    background-image: url("../icons/madsonic_4kpetrol/bg-white.jpg");
}

#moreActions option {
    color:white !important;
}

#moreActions optgroup {
    color:lightgreen !important;
    font-style:normal;
}

#moreActions option {
    color:white !important;
}

#moreActions optgroup {
    color:#ddd !important;
    font-style:normal;
}


.topHeader, .topHeader a {
    font-size: 100%;
    font-weight: 300;
    padding: 0 0 0 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
}

.topHeader { 
    padding-bottom:1px;
    border-left: 3px solid transparent;
    border-radius: 2px;
}

.topHeader.active {
    padding-bottom: 1px;
    border-left: 3px solid transparent;
    border-left-color: #8bc34a;
    background: rgba(139, 195, 74, 0.27);
    border-radius: 2px;
}

.topHeader:hover {
    border-left-color: #8bc34a; 
    background: rgba(139, 195, 74, 0.15);
    border-radius: 2px;
    
}



.dropdownOpt {
}

a.dropdownOpt:hover {
background-color:#68a01f !important;
color: #FFF !important;
}

div.opt-theme-classic a.dropdownOpt:hover, 
div.opt-theme-classic a.dropdownOpt.selectedOpt {
	background-color:#68a01f !important;
}

div.opt-theme-xp a.dropdownOpt:hover, div.opt-theme-zuneNOIR a.dropdownOpt:hover,
div.opt-theme-xp a.dropdownOpt.selectedOpt, div.opt-theme-zuneNOIR a.dropdownOpt.selectedOpt {
	background-color:#68a01f !important;	
}

a.dropdownOpt.selectedOpt {
	background-color:#68a01f !important; 
   color:#FFF !important; 
}


.dd-theme-classic, .dd-all {
    border-color:#444 !important; 
	background-color: #2a2f2f !important; 
    font-size: 9pt !important;
    color: #eee !important; 
    padding: 8px 15px 8px 15px !important;  
}

.mainframe .dense {
white-space: nowrap;
font-size: 10pt;
margin: 8px;
/* line-height: 1.5em; */
}

.mainframe .dense a {
white-space: nowrap;
font-size: 10pt;
font-weight: 700;
/* line-height: 1.5em; */
}

span {
/* font-size: 9pt; */
}

.online {
    font-size: 8pt;
	color: #83B578;
}

.offline {
    font-size: 8pt;
	color: #FAE157;
}

.easyPieChartBarColor {
	color:#8cce38;
}
.easyPieChartScaleColor {
	color:#daffab;
}
.easyPieChartTrackColor {
	color:#2a2f2f;
}

.highlight {
    color: rgb(180, 220, 228);
}

.ad {
    box-shadow: 0px 0px 15px #000;
    background-color: #3C3C3C;
    border-radius: 10px;
}

.nowPlaying {
    padding: 0px 0px 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Color for warning messages. */
.warning {
    color: #e6ff9a !important;
}

.status {
	color: #FAE157 !important;
}

.accent {
    color: #e3ffd5 !important;
}

.info {
	color: rgb(44, 180, 44);
}

.error {
    color: red;
}

.online {
	color: #83B578;
}

.offline {
	color: #FAE157;
}

img.tv {
    padding: 25px 40px 25px 40px;
    background-color: rgb(55, 54, 54);
}

#media_control {
  background-color: #101010 !important;
}

/*
.ui-button-text {
  color: #FFF !important;
}
*/

.playlistframe {
	background-color: #1d1f1f !important;   
}

#play, #pause, #buffer {
    color: #499800 !important;
}

#startButton, #stopButton, #bufferButton  {
    cursor:pointer; font-size:30px; color:#499800 !important;
}

#previousButton, #nextButton ,#fastpreviousButton, #fastnextButton  {
    color:#333 !important; 
}

.playlistframe #progress, #progress-slider, #volume, #volume-slider {
    background: #444 !important;
}

#cc-on, #cast-active {
    color: #499800 !important;
}

.ui-slider-range-min {
    background: #499800 !important;
}

.ui-slider .ui-slider-handle {
    background: #499800 !important;
    border-color: #517923 !important;	
}

.ui-widget-content {
    background: #2a2f2f !important;
    border-color: rgb(64, 64, 64)!important;
}

.fa-inverse {
    color: #a0dca3 !important;
} 

.starred {
    color: #68a01f !important;
}

.loved {
    color: #68a01f !important;
}

.control {
    color: #DDDDDD !important;
}

.hot {
    color: orange !important;
}


.custom-icon-rank {
  font-size:10px;
  font-family: 'Montserrat', Arial, serif  !important;
}

.custom-icon {
  font-size:7px;
  background:#fff;
  padding: 6px 5px 4px 5px !important;
  margin:3px 1px 3px 1px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
  border:1px solid rgba(25, 31, 31, 0.4);
  color:#fff;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(0,0,0,0.8);
  border:1px solid #8cce38;
  box-shadow: 0 1px 5px rgba(25, 31, 31, 0.8) !important;    
  color: #8cce38;
}


.custom-icon:active {
  background:rgba(0,0,0,0.4);
  border:1px solid #fff !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46) !important;    
  color: orange !important;
}


.custom-icon-header {
  font-size:20px !important;
  background:#fff;
  padding:7px 5px 3px 5px;
  margin:0 8px 8px 5px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
  border:1px solid rgba(25, 31, 31, 0.4);
  color:#8cce38;
	box-shadow: 0 1px 5px rgba(16, 16, 16, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:24px;
  height:24px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-header:hover {
  border:1px solid #8cce38 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46) !important;    
  color: #aeff47 !important;
}

.custom-icon-header:active {
  border:1px solid #fff !important;	
  color: orange !important;
}

.custom-icon-main {
  font-size:14px !important;
  background:#fff;
 /* padding:7px 4px 4px 5px; */
  padding: 7px 6px 5px 6px;  
  margin: 0px 0px 8px 0px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
	border:1px solid rgba(25, 31, 31, 0.4);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:16px;
  height:16px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-main:hover {
  border:1px solid #8cce38 !important;	
  color: orange !important;
}

.custom-icon-main:active {
  border:1px solid #fff !important;	
  color: orange !important;
}

.custom-icon-nohover {
  font-size:7px;
  background:#fff;
  padding:6px 4px 4px 4px;
  margin:0px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
  border:0px solid #111 !important;
  color:#fff;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-nohover:hover {
  color: orange !important;
}

img.circle {
    border-radius: 100% !important;
    object-fit: cover;
    object-position: center;
}

.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}

.jumbotron {
    color: #eee  !important;
    background-color: #333 !important;
}