/*
 * CSS styleshet for the "2 Minutes To Midnight" theme.
 */

@import "default.css";

/* The primary background color. */
.bgcolor1 {
    background-color: #656569;
}

/* The secondary background color. */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #4D4C52
}

/* Background color for selected header, log etc. */
.headerSelected {
    color: black;
    background-color: #DDDDDD;
}

.headerSelected {
/*    border: 1px solid #B18904;  */
	border: 0px solid black !important;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
}

/* The primary foreground color. */
body {
    color: #DDDDDD;
}

/* The secondary foreground color used for h1, details etc. */
h1, .detail, .albumComment {
    color: #DDDDDD;
}

/* Foreground color used for h2, bold and tr. */
h2, b, tr {
    color: #DDDDDD;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #BAD9F2
}

/* Link hover color */
a:hover, a:hover * {
	text-decoration: none;
    color: orange;
}

/* Color for warning messages. */
.warning {
    color: orange;
}

/* Simple border. */
.border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
    border: 1px solid white;
}

/* Scrollbar colors (supported on IE and Opera) */
body {
    scrollbar-face-color: #4D4C52;
    scrollbar-highlight-color: #656569;
    scrollbar-shadow-color: #4D4C52;
    scrollbar-3dlight-color: #4D4C52;
    scrollbar-arrow-color: #656569;
    scrollbar-track-color: #656569;
    scrollbar-darkshadow-color: #656569;
}

.back { background-image:url("../icons/midnight/back.png");background-position: 0px 0px; background-repeat:no-repeat; padding-left: 18px; line-height: 16px;}
.forward { background-image:url("../icons/midnight/forward.png");background-position: 0px 0px; background-repeat:no-repeat; padding-left: 18px; line-height: 16px;}
.forwardright { background-image:url("../icons/midnight/forward.png"); }

.ruleTableCellDB {
    border: 1px solid black;
    white-space: nowrap;
    font-size: 7pt;
    margin: 1px;
    padding: 1px;
}

img.starSong {
    margin-right: 3px;
}


input, select {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #444444;
    border-radius: 4px;
    color: #333333 !important;
    font-size: 9pt;	
    padding: 3px;
}
input[type=button],input[type=submit]{
	color: #dfdfdf !important;
	text-shadow: 1px 1px 1px #111;
	padding: 4px 11px;
	font-size:1.1em;
}

input[type=button]{
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
	border: 1px solid #111;
}
input[type=submit]{
	background: #3567a0; /* Old browsers */
	background: -moz-linear-gradient(top, #3567a0 0%, #1c5396 50%, #1f4c87 53%, #0b3c74 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3567a0), color-stop(50%,#1c5396), color-stop(53%,#1f4c87), color-stop(100%,#0b3c74)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* IE10+ */
	background: linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* W3C */
	border: 1px solid #06203e;
}	
/* Custom */

.innerbox {
	border: 1px solid #212451;
	-webkit-border-radius: 1x;
	-moz-border-radius: 1px;
	border-radius: 1px;
	width: 100%;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
}

.innerbox:hover {
	opacity:0.75;
	filter:alpha(opacity=75); /* For IE8 and earlier */
	border: 1px solid #354180;
}

#bitrate_menu {
    color: #999 !important;
}