/* http://www.screenfeed.fr/blog/personnaliser-les-scrollbars-webkit-0366 */
@charset "UTF-8";
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track-piece {
    background: transparent none;
    border: solid 4px transparent;
    border-right-width: 8px;
    margin: 2px;
    box-shadow: inset 1px 0 0 rgba(137,137,137,.4),inset -1px 0 0 rgba(137,137,137,.2);    
}
::-webkit-scrollbar-track-piece:horizontal {
    border-right-width: 8px;
    box-shadow: inset 0 1px 0 rgba(137,137,137,.6),inset 0 1px 0 rgba(137,137,137,.4);    
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(210,210,210), inset 0 0 0 6px rgb(222,222,222); 

}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px rgb(180,180,180), inset 0 0 0 6px rgb(190,190,190); 
}
::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}

::-webkit-scrollbar-corner {
    background: transparent none;
}
::-webkit-scrollbar-button {
    height: 26px;
    background: url(images/webkit-arrows-vert.png) 1px 50% no-repeat;
}
::-webkit-scrollbar-button:increment {
    background-position: -19px 50%;
}
::-webkit-scrollbar-button:horizontal {
    width: 26px;
    background: url(images/webkit-arrows-horiz.png) 50% 1px no-repeat;
}
::-webkit-scrollbar-button:horizontal:increment {
    background-position: 50% -19px;
}
body ::-webkit-scrollbar {
    background: transparent none;
}
body ::-webkit-scrollbar-button:horizontal:decrement {
    background: transparent none;
}

body ::-webkit-scrollbar-button:horizontal:increment {
    background: transparent none;
}
body ::-webkit-scrollbar-button:vertical:decrement {
    background: transparent none;
}
body ::-webkit-scrollbar-button:vertical:increment {
    background: transparent none;
}