/*
 * sigelmedia subsonic theme
 * ------------------------
 * Version: 1.1
 * Author:  sigel
 */
@import "default.css";

@import "playericons/playericonsHTML5.css"; 

@import "theme/madsonic-dark/jquery-ui-1.10.4.custom.css";

@import url('//fonts.googleapis.com/css?family=Montserrat:100,200,400,700');

 body, form, label, table, a {
    font-family: 'noto', sans-serif;
}

h2, h1, .logo {
    font-family: 'noto', sans-serif;
}

h1 a, h2 a {
    font-family: 'noto', sans-serif;
    font-weight: bold;
} 
 
/* The primary background color (light gray). */
.bgcolor1 {
    background-color: #111;
}

/* The secondary background color (darker gray). */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #000; 
}

.leftframe, .leftpanel {
    background: #111 url("../icons/sigelmedia/background-left.png") repeat fixed;

}

.topframe img { max-width: 276px; }

/* .topframe img:hover, .topframe img:focus { -webkit-filter: blur(1px); filter: blur(1px); } */

.topframe a {
  display: inline-block;
  padding: 1px 0px;
  border-radius: 3px;
  color: #eee;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
}
.topframe .detail a:hover, .topframe .detail a:focus { background: #33B5E5; text-shadow: none; }

table.music tr { line-height: 25px; font-size: 1.0em; border-bottom: 1px solid #111 !important; }

table.music tr:nth-of-type(even) {  line-height: 25px;background: rgba(0,0,0,.5); }
table.music tr:nth-of-type(odd) {  line-height: 25px;background: rgba(0,0,0,.25); }

table.content tr:nth-of-type(even) {  line-height: 25px;background: rgba(0,0,0,.5); }
table.content tr:nth-of-type(odd) {  line-height: 25px;background: rgba(0,0,0,.25); }

.mainframe table th { line-height:25px;}
.mainframe table tr { border-bottom: 1px solid #111 !important; }

#playlistBody tr:nth-of-type(even) {line-height:30px;background: rgba(0,0,0,.02); }
#playlistBody tr:nth-of-type(odd) {line-height:30px;background: rgba(0,0,0,.04); }

table.content {
    /*
    padding-top:4px;
    padding-bottom:4px;
    */
}

.headerSelected {
    /* color: rgb(255, 255, 255); */
    background-color: rgba(11,11,11,.5); 
    padding: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 1px; 
    font-weight: 600;
    border-bottom: 2px solid darkorange !important;
    text-transform: uppercase;    
}

/* Put stuff here if you need to customize any of the frames. */
.mainframe {
  background-color: #111;
  background: url('../icons/sigelmedia/background.jpg'), #000;
  background-repeat:no-repeat;
  background-position: top left;
}

.playingframe.bgcolor1 {
  background-color: #111;
  background: url('../icons/sigelmedia/background.jpg') top left fixed no-repeat, #000;
}

.playlistframe {
  background-color: #111;
  background: url('../icons/sigelmedia/background.jpg') top left fixed no-repeat, #000;
  background-size: 100%;
}

.leftpanel a {
  font-weight: 700;
  font-size: 9pt;  
  color: #eee;
}
.leftpanel p a:hover { padding: 0 4px;}

.rightframe {
  background: #000;
}
.playlistframe h2, #nowPlaying h2 {
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
  color: #ff8c00;
  text-transform: uppercase;
  display: block;
}
#nowPlaying b { color: #eee; }

/* Background color for form controls (use default). */
input, select {
}

/* The primary foreground color (black). */
body {
  background: #000;
  color: #888;
}

/* The secondary foreground color used for h1, h2, details etc (gray). */
h1, h2, .detail, .albumComment {
    color: #696969;
}

/* Foreground color used for bold and tr. */
b, tr {
    color: #999999;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #33B5E5;
}

.leftframe p a:link, .leftframe p a:active, .leftframe p a:visited, .leftframe p a:link *, .leftframe p a:active *, .leftframe p a:visited * {
    color: #33B5E5;
    -webkit-transition: all .25s ease;
  	-moz-transition: all .25s ease;
  	-o-transition: all .25s ease;
  	-ms-transition: all .25s ease;
  	transition: all .25s ease; 
    text-shadow: 1px 1px 1px #000;
}

/* Link hover color */
.leftframe p a:hover, .leftframe p a:hover * {
    text-decoration: none;
    color: #ff8c00;
}

/* Link hover color */
a:hover, a:hover * {
    text-decoration: none;
    color: #ff8c00;
}

/* Color for warning messages. */
.warning {
    color: #FF8F00;
}

/* Simple dark border. */
.border1, .ruleTableHeader, .ruleTableCell, .log {
    border: 1px solid black;
}
#similarArtistsRadio a {
  display: inline-block;
  padding: 10px 15px;
  background: #111;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
}
#similarArtistsRadio { margin-top: 25px; }
#similarArtistsRadio a:hover, #similarArtistsRadio a:focus { background: #000; }

#similarArtistsTitle, #topAlbumsTitle, #topTracksTitle  {
  font-size: 1.0em;
  display: block;
  padding: 10px 0;
  font-weight: 600;
  color: #ccc;
  text-transform: uppercase;
}

#similarArtists .similar-artist-divider { color: #FF8C00; }

/* Scrollbar colors (supported on IE and Opera) */
body {
    scrollbar-face-color: #DEE3E7;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #DEE3E7;
    scrollbar-3dlight-color: #D1D7DC;
    scrollbar-arrow-color: #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #98AAB1;
}

body, form, label, table, a {
    font-family: 'noto', sans-serif;
}

h1, h1 a {
    font-family: 'noto', sans-serif;
    font-weight: bold;
}

h2, h2 a, .topHeader a {
    font-family: 'noto', sans-serif;
    font-weight: bold;
}

/***************************************************************************************
 * The rest of the CSS is typically not changed in other themes (but not necessarily so).
 ***************************************************************************************/

body {
    padding:0;
    border:0;
    margin:0.75em;
    font-size: 10.1pt;
    line-height: 1.5em;
}

p {
    padding:0;
    border:0;
    margin:0 0 1em 0;
}

.dense {
    white-space: nowrap;
    margin: 0;
    line-height: 1.5em
}

h1 {
    white-space: nowrap;
    font-weight: 700;
    font-size: 16pt;
    color: #ff8c00;
    /* padding: 10px 0 25px 0; */
    border: 0;
    margin: 0;
}

h2 {
    white-space: nowrap;
    font-size: 100%;
    /* margin: 0.5em 0 0.5em 0.5em; */
}

.leftframe h2 {
  border-radius: 3px;
  padding: 2px 2px !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9em;
  color: #ff8c00;
}
.leftframe h2.bgcolor1 { background: #ff8c00; color: #111;}
.leftframe th { padding: 0 5px !important; }

form {
    font-size: 100%;
    line-height: 140%;
    padding: 0;
    border: 0;
    margin: 0;
}

input, textarea, select {
    font-size: 90%;
    padding: 5px 12px;
    border-radius: 4px;
    border: 2px solid #333;
    background: transparent !important;
    color: #808080;
    font-weight: 400;
    font-size: 1.0em;
}

input[type=submit], input[type=button] {
    background: white;
    padding-left: 1em;
    padding-right: 1em;
    border: 2px solid #06203e;
}

input[type=submit]:active, input[type=button]:active {
    background: #e9e9e9;
}

input:hover, textarea:hover, select:hover {
    border-color: #fff;
}

label {
    font-size: 100%;
    line-height: 120%;
}

table {
    font-size: 100%;
    line-height: 120%;
    padding: 0;
    border: 0;
    margin: 0 0 0.4em 0;
}


/* Table with some white space above it.*/
table.indent {
    margin: 1em 0 0.4em 0;
}

table.music {
    line-height: 140%;
    border-collapse:collapse;
    white-space:nowrap;
    width: 100%;
}

table.music {
    line-height: 140%;
    border-collapse:collapse;
    white-space:nowrap;
    width: 100%;
}

td.fit {
    width:1px;
    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    padding-bottom:2px;    
}

td.truncate {
    max-width:50px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:2px;    
}

td.rightalign {
    text-align:right;
    padding-right: 20px;
    padding-top:2px;
    padding-bottom:2px;    
}

a {
    font-size: 100%;
 /*   text-transform: uppercase; */
}

img {
    border-style: none;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.dropshadow {
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.shadow {
    box-shadow: 0 0 20px 3px #111;
}

.coverart {
    /*
    -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.75); */
/*  background: rgba(11, 11, 11, 0.8);     */
    color: #CCC;
    border-radius: 3px;
}

.coverart .caption1 {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:6px 8px 4px 8px;
    line-height: 100%;
    font-weight: 300;
    color: #ff8c00;
}

.coverart .caption1 a:link, .coverart .caption1 a:visited  {
  color: #ff8c00;
  font-weight: 300;
  font-size: .9em;
}

.coverart .caption2 {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0px 8px 5px 8px;
    color: #aaaaaa;
    line-height: 100%;
    font-weight: 300;
}

.coverart .caption3 {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0px 8px 5px 8px;
    color: #aaaaaa;
    line-height: 100%;
    font-weight: 300;
    font-style: italic;
}

.coverart img:hover, .coverart img:focus { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
 
/*  .albumThumb  img:hover, .albumThumb img:focus { -webkit-filter: blur(1px); filter: blur(1px); } */

/*
.albumThumb {
    -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.75);
    background: rgba(11, 11, 11, 0.8); 
}*/

.loginsplash {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.95;
    filter: alpha(opacity=95);
    -moz-box-shadow: 0 0 35px 15px #000;
    -webkit-box-shadow: 0 0 35px 15px #000;
    box-shadow: 0 0 35px 15px #000;
    background-color: rgba(0, 0, 0, 0.08);    
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 6px;
}

.header, .headerSelected {
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
}

.similar-artist-divider {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#artistBio {
  padding-bottom: 0.5em;
  border-top: 1px dotted #333;
  padding-top: 15px;
}

#artistImage {
  border: 2px solid #ccc;
}
#artistImage:hover, #artistImage:focus {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  border-color: #111;
}

.detail {
    white-space: nowrap;
    font-size: 90%;
}

.songTitle {
    font-style: bold;
    color: #ccc;
}

.topHeader, .topHeader a {
    font-size: .95em;
    font-weight: 600;
    padding: 0.15em 0 0 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
    text-transform: uppercase;
}

.back, .forward {
    background-position:center left;
    background-repeat:no-repeat;
    padding-left: 12px;
    line-height: 16px;
}

.back {
    background-image:url("../icons/default_light/back.png");
}

.forward {
    background-image:url("../icons/default_light/forward.png");
}

.albumComment {
    width: 50em;
    font-size: 90%;
    line-height: 1.4em;
    padding-top: 0.25em;
}

.albumThumb {
    display:inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    padding-left: 2px; 
    padding-right: 2px; 
}

.log {
    white-space: nowrap;
    font-size: 90%;
    line-height: 1em;
}

.checkbox {
    border: 0
}

/* Table with simple lines between the cells. */
.ruleTable {
    border-collapse: collapse;
}

.ruleTableHeader, .ruleTableCell {
    margin: 5px;
    padding: 5px;
}

.ruleTableHeader {
    font-weight: bold;
}

.context-menu-item {
    color: black;
}

.dd-theme-classic, .dd-all {
    border-color: #333 !important;
}

.nowPlaying {
    padding: 0px 0px 5px 10px;
    background-color: rgba(231, 231, 231, 0.05);
    border-radius: 5px;
}

.leftframe p.dense {
    clear: both;
    padding: 4px;
    border-bottom: 1px dotted #333;
    line-height: 1.4em
}

.rankex {
    white-space: nowrap;
    font-size: 6pt;
    line-height: 1.40em;
    background: url('../icons/madsonic_black/rank.png') no-repeat right;
    padding: 5px 3px 6px 4px;
    margin-left: -2px;
    color: #FFC200;
    font-family: verdana, arial, sans-serif;
}
 
.dropdown {
    border-width: 2px !important;
}

table.content img.controls {
 /*  padding: 2px 3px 2px 8px;  */
}

table.content {
    line-height: 200%;
}

.coverbox h1 {
    padding-top: 0px;
}

.mainframe .controls {
    margin: 4px 4px 4px 4px;
    padding: 0 0 0 0;
}

.mainframe .bgcolor2 {
    background-color: rgba(0, 0, 0, 0.4);
}

#toogleGenre {
    top: 80px;
}
img.controls {
    padding: 2px 2px 1px 2px !important;
}

.dd-theme-classic, .dd-all {
    padding: 5px 10px 5px 10px !important;
}

/* Custom */
span.off {
    background: #FFF !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;
}

span.on {
    background: #33B5E5 !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;    
}

span.off:hover {
    background: #33B5E5 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
    }

span.off2 {
    background: #333;    
    cursor: pointer;
    float:left;
    padding: 3px 9px;
    margin: 2px;
    color: #FFF;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #333;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space: nowrap;
    font-size: 8pt;    
}

span.on2 {
    	cursor: pointer;
		float:left;
		padding: 3px 9px;
		margin: 2px;
        background: #33B5E5;
		color: #FFF;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
        border: solid 1px #fff;
		-webkit-transition-duration: 0.1s;
		-moz-transition-duration: 0.1s;
		transition-duration: 0.1s;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		white-space: nowrap;
        
    font-size: 8pt;    
}

span.on2:hover  {
    background: #33B5E5 !important;
    border: solid 1px #fff  !important;
    }

span.off2:hover  {
    background: #000 !important;
    border: solid 1px #000  !important;
    }
       
    
#content_artist table tr { border-bottom: 0px solid #222 !important; }    

img#preview1 {
    margin-top: 55px;
    margin-right: 300px;
    box-shadow: 0 0 20px 10px #444;
}    

.starred {
    color: #33B5E5 !important;
}

.loved {
    color: #33B5E5 !important;
}

.rank {
  font-size:10px;
}

.control {
    color: #ddd !important;
}

.hot {
    color: orange !important;
}

.custom-icon-rank {
  font-size:10px;
  font-family: 'Montserrat', Arial, serif  !important;
}

.custom-icon-header {
  font-size:20px !important;
  background:#fff;
  padding:6px 4px 3px 4px;
  margin:0 10px 6px 5px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.66);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:24px;
  height:24px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon {
  font-size:7px;
  background:#fff;
  padding:6px 4px 3px 4px;
  margin:3px 1px 3px 1px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.66);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-main {
  font-size:14px !important;
  background:#fff;
  padding:7px 4px 4px 5px;
  margin:0 0 8px 0;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:16px;
  height:16px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon:hover {
  background:rgba(0,0,0,0.8);
  color: orange;
}

.custom-icon-nohover {
  font-size:7px;
  background:#fff;
  padding:6px 4px 4px 4px;
  margin:0px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}
