
.flowplayer, .flowplayer.is-playing, .flowplayer.is-fullscreen .fp-player {
   /* background-color:#1C1C1C; */
   background-color: rgba(0, 0, 0, 0.01);
}

/* waiting element of fixed size to accomodate custom graphic */
.flowplayer .fp-waiting {
   width: 90px;
   height: 90px;
   background-image: url(/icons/default/loading.gif);
}
/*
.fp-waiting,
.fp-waiting:before,
.fp-waiting:after {
  background: #eee;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 3em;
}

.fp-waiting:before,
.fp-waiting:after {
  position: absolute;
  top: 0;
  content: '';
}

.fp-waiting:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.fp-waiting {
  color: #eee;
  text-indent: -9999em;
  margin: 90px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.fp-waiting:after {
  left: 1.5em;
  opacity: 1.0;  
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 3em;
  }
}
@keyframes load1 {
  0% {
    opacity: 1;
    box-shadow: 0 0;
    height: 3em;    
  }
  40% {
    opacity: 0.8;
    box-shadow: 0 -3em;
    height: 4em;
  }
  80% {
    box-shadow: 0 0;
    height: 3em;    
  }
  100% {
    opacity: 1;
    box-shadow: 0 0;
    height: 3em;
  }
}
*/

/* hide default loading animation or text */
.flowplayer .fp-waiting em, .flowplayer .fp-waiting p {
   display: none;
}

.flowplayer .fp-subtitle p {
    font-size: 20px;
}
 
 
#overlay {
    position: absolute;
    z-index: 20;
    font-size: 19px;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: none;
}

#media-control {
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    align-items: center;
}

#title {
    font-size: 14px;
    font-weight: 600;
}

#audio-track {
    margin-left: 14px;
    margin-right: 14px;
}

#progress-slider {
    margin: 12px;
    height: 4px;
}

#volume-slider {
    width: 90px;
    height: 4px;
    margin-right: 12px;
}

#play, #pause, #buffer {
    font-size: 24px;
    color: #E65100;
    margin-right: 12px;
}

#play, #pause {
    cursor: pointer;
}

#play:hover, #pause:hover {
    opacity: 0.8;
}

#pause, #buffer {
    display: none;
}

#progress-and-duration {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 90px;    
}

#cast-active, #cast-idle {
    padding: 8px;
    margin: 0 4px;
    cursor: pointer;
    display: none;
}

#audio-on, #audio-off {
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
}

#audio-off {
    display: none;
}

#new-window, #fullscreen, #share, #download, #cc-on, #cc-off {
    font-size: 20px;
    padding: 8px;
    margin: 0 4px;
    cursor: pointer;
}

#cc-off, #cc-on {
    font-size: 26px;
    display: none;
}

#cc-on, #cast-active {
    color: #E65100;
}

#fullscreen {
    font-size: 26px;
}

/* Work-around for Safari */
#new-window, #share, #download, #audio-on, #audio-off {
    width: 20px;
}
#cast-active, #cast-idle {
    width: 24px;
}
#cc-on, #cc-off, #fullscreen {
    width: 26px;
}

/* TODO: Layout work-around */
#new-window, #share, #download, #cc-on, #cc-off, #fullscreen, #audio-on, #audio-off, #cast-active, #cast-idle, #star, #audio-track {
    z-index: 1
}

.ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: #E65100;
    display: none;
    border: none;
}

.ui-slider {
    cursor: pointer;
    border: none;
}

.ui-slider-range-min {
    background: #E65100;
}

.ui-slider-handle:focus {
    outline: none;
}

 
/* initially hide speed buttons while they cannot be used */
.is-splash.flowplayer .buttons, .is-loading.flowplayer .buttons {
  display: none;
}


.flowplayer .buttons {
  position: absolute;
  right: 120px;
  bottom: 40px;
  z-index: 12; /* make clickable */
  display: block;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.is-mouseout.flowplayer .buttons {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  /* same transition as other ui elements like fullscreen */
  -webkit-transition: opacity .15s .3s;
  -moz-transition: opacity .15s .3s;
  transition: opacity .15s .3s;
}

.flowplayer .buttons span {
  padding: 1ex;
  margin: 0.5ex;
  width: 3.2em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #eee;  
  background-color: rgba(51, 51, 51, 0.60);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.flowplayer .buttons span.active {
  color: #00a7c8;
  background-color: #ccc;
  cursor: default;
}

p {
    margin: 0 0 0 0;
}
