/*
 * CSS styleshet for the "Back In Black" theme.
 */
@import "midnight.css";

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

@import "theme/madsonic/jquery-ui-1.10.4.custom.css";
 
@import "playericons/playericonsHTML5.css";

@import "jquery.mCustomScrollbar3.css"; 

@import "videoPlayerLight.css"; 

@import "scrollbar-px.css"; 

body, form, label, table, a {
    font-family: 'Montserrat', Arial, serif; 
}
h2, h1, h1 a, .logo {
    font-family: 'Montserrat', Arial, serif; 
}

h2 {
    font-family: 'Montserrat', Arial, serif; 
    font-size: 10pt;    
}

.mainframe #content_artist  #anchor_list a{
    font-size: 16pt;    
}

.divIdCoverBack {
top: -58px;
left: 1px;
}

.logo {
    padding-right:0.8em;
}

.topframe .logo img{
    width:155px;
    height:38px;
    margin-top: -20px;    
}

.maincontrol a {
    font-weight: 700;
}

.maincontrol a img {
    padding-bottom: 5px;
    padding-right: 1px;
    padding-left: 1px;
    /* display:none; */
    width:0px;
    hight:0px;
    opacity:0.30;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}

.rightframe .songTitle {
    font-size: 11px; 
}

    /*
.leftframe .bgcolor2 {
background-image: url("../icons/xmasred/left.png" );
background-repeat:repeat-x;
background-attachment: fixed; 
}

.leftframe {
   background-image:url( "../icons/xmasred/background-left.png" );
    background-repeat:repeat;
    background-attachment:fixed; 
    background-color:#5D053A;
}*/

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #E0EBF4;
}

a:hover, a:hover * {
    text-decoration: none;
    color: red; 
    text-shadow: 0.0em 0.0em 0.2em #111;      
}

.topframe a:hover, .topframe a:hover * {
    opacity:0.85;
    filter:alpha(opacity=85);  
}

/* Main frame image & colour */
.loginsplash  {
    background: #222 url('../icons/madsonic_black/backgroundalpha.png') no-repeat top left;
    background-size: cover;
    
    border: 5px solid #111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
    -moz-box-shadow:    0px 0px 35px 15px #200605;
    -webkit-box-shadow: 0px 0px 35px 15px #200605;
    box-shadow:         0px 0px 35px 15px #200605;
}

.topframe {
    background-image:url( "../icons/xmasred/top.png" );
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.artistindex {
    background-color: #640909;
}

.bgcolor1 {
    background-color: #333;
}

.ui-widget input {
    color: #888 !important;
}

#content_left .bgcolor2 {
    background-color: #1B1B1B;
}

h2.bgcolor2 {
    background-color: #1F1616;
}
.mainframe .bgcolor2 {
    background-color: #222;
    opacity: 0.80;
}

.topframe.bgcolor2 {
    background-color: #440404;
}

.bgcolor2, .log  {
    background-color: #333;
}

.ruleTableHeader {
    background-color: #5C0909;
}

table.editor .ruleTableHeader,
table.editor .ruleTableCellHeader,
table.editor .ruleTableCell  {
    border: 0px solid #5C0909;   
}
.ruleTableHeader,
.ruleTableCellHeader,
.ruleTableCell ,
.border1,
.log { 
    border: 1px solid #666;
}

.leftframe p.dense{
    clear: both;
    padding: 4px;
    border-bottom: 1px dotted #464545;
    /* text-shadow: 2px 2px #080808; */
    line-height: 1.4em;
}
.leftframe p.dense:last-child{
    border: none;
}
.leftframe p.dense:first-child{
    padding-top: 10px;
}

.leftframe th img{
    display: none;
}

/* Main frame image & colour */
.mainframe.splash  {
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: top right;
}

/* Back image */
.back, .forward {
    font-size: 9pt;
    background: url("../icons/madsonic_black/back.png") no-repeat center left;
    padding-left: 20px;
    line-height: 20px;
}

/* Forward image */
.forward  {
    font-size: 9pt;
    padding-left: 20px;
    line-height: 20px;
    background: url("../icons/madsonic_black/forward.png") no-repeat center left;
}

/* Forward image */
.forwardright {
    font-size: 9pt;
    padding-right: 20px;
    line-height: 20px;
    background: url("../icons/madsonic_black/forward.png") no-repeat center right;
}

/*

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track-piece  {
background-color: #333;
}

::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #5A5A5A;
}

::-webkit-scrollbar-thumb:horizontal {
width: 30px;
background-color: #5A5A5A;
}
*/

@charset "UTF-8";
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background: transparent none;
    border: solid 4px transparent;
    border-right-width: 8px;
    margin: 4px;
    -webkit-box-shadow: inset 1px 1px 0 0 rgb(0,0,0), inset -1px -1px 0 0 rgb(9,9,9);
}

::-webkit-scrollbar-track-piece:horizontal {
    border-right-width: 4px;
    border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 5px rgb(102,102,102);
    -webkit-box-shadow: inset 0 0 0 1px rgba(22, 22, 22, 0.49), inset 0 0 0 5px #656565;
}


::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px rgba(63, 45, 21, 0.49), inset 0 0 0 5px #757575;
}
::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}

::-webkit-scrollbar-corner {    
    background: #222;
}
::-webkit-scrollbar-button {    
    height: 26px;
    background: url(../icons/madsonic_dark/webkit-arrows-vert.png) 1px 50% no-repeat, #333;
}
::-webkit-scrollbar-button:increment {
    background-position: -19px 50%;
}
::-webkit-scrollbar-button:horizontal {
    width: 26px;
    background: url(../icons/madsonic_dark/webkit-arrows-horiz.png) 50% 1px no-repeat, #222;
}
::-webkit-scrollbar-button:horizontal:increment {
    background-position: 50% -19px;
}

body ::-webkit-scrollbar {
    background: transparent none;
}

#content_artst .innerbox:hover {
    opacity: 0.75;
    filter: alpha(opacity=75); 
    border: 0;
}

#content_artst .innerbox {
    opacity: 0.90;
    filter: alpha(opacity=90); 
    border: 0;
}

#content_playqueue .bgcolor2 {
    background-color: #111;
}

#content_playqueue .bgcolor1 {
}
#content_artst .bgcolor2 {
    background-color: #3A0606;
    opacity: 0.80;
}

#content_artst .bgcolor1 {
    background-color: #3A0606;
    opacity: 0.90;
}


.dropshadow {
    border: 1px solid #111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.90;
    filter:alpha(opacity=90); 
    -moz-box-shadow:    0px 0px 15px 5px #111;
    -webkit-box-shadow: 0px 0px 15px 5px #111;
    box-shadow:         0px 0px 15px 5px #111;
}

.dropshadow:hover {
    opacity:0.99;
    filter:alpha(opacity=99); 
    border: 1px solid #222;
}

.rankex {
    white-space: nowrap;
    font-size: 6pt;
    line-height: 1.40em;
    background: url('../icons/madsonic_black/rank.png') no-repeat right;
    padding: 8px 3px 8px 8px;
    margin-left: -2px;
    color: #FFC200;
    font-family: verdana, arial, sans-serif;
}



/* Custom */
span.off {
    background: #FFF !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;
}

span.on {
    background: #9b0200 !important;
    border: solid 1px #FFFFFF !important;
    color: #fff !important;
    font-size: 8pt;    
}

span.off:hover {
    background: #c32523 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
    }

span.off2 {
    border: solid 1px #777777  !important;
    font-size: 8pt;    
}

span.on2 {
    background: #9b0200 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
}

span.off2:hover  {
    background: #9b0200 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
    }
    
 
.ruleTableCellDB {
    border: 1px solid black;
    white-space: nowrap;
    font-size: 7pt;
    margin: 1px;
    padding: 1px;
}

.maincontrol {
    line-height: 30px;
}


img.starSong {
    margin-top: 4px;    
    margin-right: 8px;
}

img#starImage {
    padding-left: 1px;    
    padding-right: 8px;
    padding-bottom: 3px;
}

#bitrate_menu {
    color: #999 !important;
}    

 #toogleGenre {
    top: 80px;
}

input {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
/*  font-size: 8pt;*/
    font-family: 'Montserrat', Arial, serif; 
    font-weight: 400;
    padding: 6px 5px 6px 5px;
	margin-left: 4px;	
    font-size: 11px;
    color: #fff !important;
    background-color: #252525;
    border: 1px solid rgba(107, 107, 107, 0.49);
    background-repeat: repeat;
    background-size: 140px 140px;
    }

    
    
select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1DBDB;
    border-radius: 5px;
    color: #444444 !important;
    font-family: 'Montserrat', Arial, serif; 
    font-weight: 400;
    font-size: 8pt;
    padding: 5px 5px 5px 5px;
	margin-left: 4px;	
    font-size: 11px;
    color: #fff !important;
    background-color: #252525;
    border: 1px solid rgba(107, 107, 107, 0.49);
    background-repeat: repeat;
    background-size: 140px 140px;    
}
 
 
input[type=button],input[type=submit]{
	color: #dfdfdf !important;
	text-shadow: 1px 1px 1px #111;
	padding: 4px 11px;
	font-size:1.1em;
}
input[type=button]{
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
	border: 1px solid #111;
}
input[type=submit]{
	background: #a90101; /* Old browsers */
	background: -moz-linear-gradient(top, #a90101 0%, #9f0000 50%, #910101 53%, #770000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90101), color-stop(50%,#9f0000), color-stop(53%,#910101), color-stop(100%,#770000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90101 0%,#9f0000 50%,#910101 53%,#770000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90101 0%,#9f0000 50%,#910101 53%,#770000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a90101 0%,#9f0000 50%,#910101 53%,#770000 100%); /* IE10+ */
	background: linear-gradient(top, #a90101 0%,#9f0000 50%,#910101 53%,#770000 100%); /* W3C */
	border: 1px solid #540101;
}

#listRows {
    font-size: 11px;
    float: left;
    color: #fff !important;
    display: block;

}

#listColumns {
    font-size: 11px;
    float: left;
    color: #fff !important;
    display: block;
}

#query {
    font-size: 11px;
    color: #222 !important;
    border: 1px solid #eee;
    background-image: url("../icons/madsonic_black/bg-white.jpg");
}

#j_username {
    color: #222 !important;
    border: 1px solid #ddd;
    background-image: url("../icons/madsonic_black/bg-white.jpg");
}

#j_password {
    color: #222 !important;
    border: 1px solid #ddd;
    background-image: url("../icons/madsonic_black/bg-white.jpg");
}

#moreActions option {
    color:white !important;
}

#moreActions optgroup {
    color:lightred !important;
    font-style:normal;
}

.mainframe .dense {
white-space: nowrap;
font-size: 9pt;
margin: 8px;
/* line-height: 1.5em; */
}

.mainframe .dense a {
white-space: nowrap;
font-size: 9pt;
font-weight: 600;
/* line-height: 1.5em; */
}

span {
font-size: 9pt;
}

.easyPieChartBarColor {
	color:#c40101;
}
.easyPieChartScaleColor {
	color:#F7CFC4;
}
.easyPieChartTrackColor {
	color:#F8F0E1;
}

.highlight {
    color: rgb(180, 220, 228);
}

.dd-theme-classic, .dd-all {
    border-color: rgba(107, 107, 107, 0.49) !important;
}

a.dropdownOpt:hover {
background-color: red !important;
color: #FFF !important;
}

div.opt-theme-classic a.dropdownOpt:hover, 
div.opt-theme-classic a.dropdownOpt.selectedOpt {
	background-color:red !important;
}

div.opt-theme-xp a.dropdownOpt:hover, div.opt-theme-zuneNOIR a.dropdownOpt:hover,
div.opt-theme-xp a.dropdownOpt.selectedOpt, div.opt-theme-zuneNOIR a.dropdownOpt.selectedOpt {
	background-color:red !important;	
}

a.dropdownOpt.selectedOpt {
	background-color:red !important; 
   color:#FFF !important; 
}

.mainframe.splash {
	background-color:#320A0A  !important;
}

.nowPlaying {
    padding: 0px 0px 10px 10px;
    background-color: rgba(160, 160, 160, 0.2);
    border-radius: 5px;
}

.ad {
    box-shadow: 0px 0px 10px #AB0303;
    background-color: #610202;
    border-radius: 5px;
}

.accent {
    color: #eee !important;
}

.detailyear {
    color: blanchedalmond;
    font-weight: bold;
}

option {
    background-color: #222 !important;
    color: #ffffff;
}

/* The primary background color (light gray). */
.playlistframe .bgcolor1, table.music tr:nth-of-type(even) {
    background-color: #610000;
}

.viewSelected {
    background-color: red;
}


/* The primary background color (light gray). */
.bgcolor1, table.music tr:nth-of-type(even) {
    background-color: #252525;
}

/* The secondary background color (darker gray). */
.bgcolor2, .ruleTableHeader, .log, table.music tr:nth-of-type(odd) {
    background-color: #222;
}


.playlistframe {
    border-top: 1px dotted #eee;
}

.status {
    color: #D8C006;
 }
 
 #content_main table.music tr { line-height: 25px; border-bottom: 1px solid rgba(0,0,0,.08) !important; }

#content_main  table.content tr:nth-of-type(even) {  line-height: 25px;background: #333333; }
#content_main  table.content tr:nth-of-type(odd) {  line-height: 25px;background: #1F1F1F; }

#content_home  table.music tr:nth-of-type(even) {  line-height: 25px;background: #333333; }
#content_home  table.music tr:nth-of-type(odd) {  line-height: 25px;background: #1F1F1F; }

#content_main  table th { line-height:25px;}
#content_main  table tr { border-bottom: 1px solid rgba(0,0,0,.08) !important; }

#playlistBody tr { line-height:25px; border-bottom: 1px solid rgba(0,0,0,.08) !important; }

#playlistBody tr:nth-of-type(even) {line-height:25px;background: #333333; }
#playlistBody tr:nth-of-type(odd) {line-height:25px;background: #1F1F1F; }

#startButton, #stopButton {
    cursor:pointer; font-size:30px; color:#ff0000 !important;
}

#previousButton, #nextButton ,#fastpreviousButton, #fastnextButton  {
    color:#222 !important; 
}

#bufferButton {
    font-size:30px; color:#4E0000 !important;
}

.ui-slider {
    background-color: #525252 !important;
}

.ui-slider .ui-slider-handle {
    background: #a70e0e !important;
}
.ui-slider-range-min {
    background: #a70e0e !important;
}

.control {
    color: #DDDDDD !important;
}

.hot {
    color: orange !important;
}


.browse-index-shortcut {
    padding-bottom: 15px !important;
    font-size: 18px !important;
    line-height: 100% !important;
}

.starred {
    color: red !important;
}

.loved {
    color: red !important;
}

.rank {
  font-size:10px;
}

.control {
    color: #ddd !important;
}

.hot {
    color: orange !important;
}

.custom-icon-rank {
  font-size:10px;
  font-family: 'Montserrat', Arial, serif  !important;
}


.custom-icon-header {
  font-size:20px !important;
  background:#fff;
  padding:6px 4px 3px 4px;
  margin:0 10px 6px 5px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
	box-shadow: 0 1px 5px rgba(16, 16, 16, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:24px;
  height:24px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon {
  font-size:7px;
  background:#fff;
  padding:6px 4px 3px 4px;
  margin:3px 1px 3px 1px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
	box-shadow: 0 1px 5px rgba(16, 16, 16, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-main {
  font-size:14px !important;
  background:#fff;
  padding:7px 4px 4px 5px;
  margin:0 0 8px 0;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:16px;
  height:16px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon:hover {
  background:rgba(0,0,0,0.8);
  color: orange;
}

.custom-icon-nohover {
  font-size:7px;
  background:#fff;
  padding:6px 4px 4px 4px;
  margin:0px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}

.leftframe, .leftpanel {
    background: url("../icons/madsonic_black/background-left.png") repeat fixed;
}

table.music tr:nth-of-type(even) { background: rgba(0,0,0,.1); }
table.music tr:nth-of-type(odd) { background: rgba(0,0,0,.2); }

.mainframe table tr { border-bottom: 1px solid rgba(128,128,128,0.05) !important; }