/*
 * CSS styleshet for the "Back In Black" theme.
 */

@import "default.css"; 
 
@import "midnight.css";

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

@import "theme/madsonic/jquery-ui-1.10.4.custom.css";
 
@import "playericons/playericonsHTML5.css";

@import "jquery.mCustomScrollbar3.css"; 

@import "videoPlayerLight.css"; 

@import "scrollbar-px.css"; 

body, form, label, table, a {
    font-family: 'Montserrat', Arial, serif; 
}

body {
    font-size: 9pt;
}

h2, h1, h1 a, .logo {
    font-family: 'Montserrat', Arial, serif; 
}

h2 {
    font-family: 'Montserrat', Arial, serif; 
    font-size: 10pt;    
}

table {
    font-size: 100%; 
    line-height: 150%;
    padding: 0;
    border: 0;
    margin: 0 0 0.4em 0;
}

.mainframe #content_artist  #anchor_list a{
    font-size: 16pt;    
}

.divIdCoverBack {
top: -58px;
left: 1px;
}

.logo {
    padding-right:0.8em;
}

.topframe .logo img{
    width:155px;
    height:38px;
    margin-top: -20px;    
}

.maincontrol a {
    font-weight: 700;
}

.maincontrol a img {
    padding-bottom: 5px;
    padding-right: 1px;
    padding-left: 1px;
    /* display:none; */
    width:0px;
    hight:0px;
    opacity:0.30;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}

.playlistframe .songTitle {
    font-size: 11px; 
}

.songTitle {
   font-size: 100%; v
   
}

.mainframe .controls {
    margin: 0px 1px 1px 1px;
    padding: 0 0 0 0;
}

.playlistframe .controls {
    margin: 0 0 1px;
}

.playlistframe .starSong {
    margin: 0 4px 1px 2px;
}

.leftpanel .bgcolor2 {
    background: url("../icons/xmas/left.png") repeat-x fixed; 
}

.leftpanel {
    background-image:url( "../icons/xmas/background-left.png" );
    background-repeat:repeat;
    background-attachment:fixed;    
    background-color:#5D053A;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #E0EBF4;
}

a:hover, a:hover * {
    text-decoration: none;
    color: orange; 
    text-shadow: 0.0em 0.0em 0.2em #111;      
}

.topframe a:hover, .topframe a:hover * {
    opacity:0.85;
    filter:alpha(opacity=85);  
}

/* Main frame image & colour */
.loginsplash  {
    background: #222 url('../icons/madsonic_black/backgroundalpha.png') no-repeat top left;
    background-size: cover;
    
    border: 5px solid #111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
    -moz-box-shadow:    0 0 35px 15px #222;
    -webkit-box-shadow: 0 0 35px 15px #222;
    box-shadow:         0 0 35px 15px #222;
}

/* Main frame image & colour 
.mainframe { 
    background-image:url('../icons/xmas/background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color: #033A36;
    background-position: top left;
}*/

.topframe {
    background: url("../icons/xmas/top.png") no-repeat fixed;
}

.artistindex {
    background-color: #222;
}

#artistBio {
    line-height: 18px;
    padding-bottom: 15px;
    border-top: 1px dotted #888;
    padding-top: 15px;
    font-size: 9.0pt;
}


.ruleTableHeaderPlaylists {
	padding-right:1em;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
}

.ruleTableCellPlaylists {
	padding-top: 4px;
	padding-right:1em;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
}

/* table.music tr { line-height: 16px; } */

table.music tr:nth-of-type(even) { background: rgba(0,0,0,.4); }
table.music tr:nth-of-type(odd) { background: rgba(0,0,0,.2); }


/* #playlistBody tr:nth-of-type(even) { background: #0d0d0d; } */

/* The primary background color (light gray). */
.bgcolor1 {
    background-color: #0F3939;    
    /*
    background-image: url("../icons/xmas/bg-noise.jpg");
    background-repeat: repeat;
    background-size: 550px 250px;
    */
}

.playingframe.bgcolor1 {
    /*
    background-image:url( "../icons/xmas/bg-noise.jpg" ); 
    background-repeat: repeat;
    background-size: 550px 250px;
    */
}

.ui-widget input {
    color: #888 !important;
}

#content_left .bgcolor2 {
    background-color: #0F3939;
}

h2.bgcolor2 {
    background-color: #0F3939;
}

.mainframe .bgcolor2 {
    background-color: #0F2D2D;
}

.topframe.bgcolor2 {
    background-color: #0F3939;
}

.bgcolor2, .log  {
    background-color: #0F3939;
}

.ruleTableHeader {
    background-color: #012724;
}

table.editor .ruleTableHeader,
table.editor .ruleTableCellHeader,
table.editor .ruleTableCell  {
    border: 0px solid #012724;   
}
.ruleTableHeader,
.ruleTableCellHeader,
.ruleTableCell ,
.border1,
.log { 
    border: 1px solid #444;
}

.leftpanel p.dense{
    clear: both;
    padding: 4px;
    border-bottom: 1px dashed rgba(29, 29, 29, 0.5);
    /* text-shadow: 2px 2px #080808; */
    line-height: 1.1em;
}

.leftpanel p.dense:last-child{
    border: none;
}
.leftpanel p.dense:first-child{
    padding-top: 10px;
}

.leftpanel th img{
    display: none;
}

/* Main frame image & colour */
.mainframe.splash  {
    /*
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: top right;
    */
}

/* Back image */
.back, .forward {
    font-size: 9pt;
    background: url("../icons/madsonic_black/back.png") no-repeat center left;
    padding-left: 20px;
    line-height: 20px;
}

/* Forward image */
.forward  {
    font-size: 9pt;
    padding-left: 20px;
    line-height: 20px;
    background: url("../icons/madsonic_black/forward.png") no-repeat center left;
}

/* Forward image */
.forwardright {
    font-size: 9pt;
    padding-right: 20px;
    line-height: 20px;
    background: url("../icons/madsonic_black/forward.png") no-repeat center right;
}
/*
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track-piece  {
background-color: #333;
}

::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #5A5A5A;
}

::-webkit-scrollbar-thumb:horizontal {
width: 30px;
background-color: #5A5A5A;
}
*/

#content_artst .innerbox:hover {
    opacity: 0.75;
    filter: alpha(opacity=75); 
    border: 0;
}

#content_artst .innerbox {
    opacity: 0.90;
    filter: alpha(opacity=90); 
    border: 0;
}

#content_left .bgcolor2 {
/*    background-color: #1F1F1F;
    opacity: 0.80; */
}

#content_playqueue .bgcolor2 {
    background-color: #111;
}

#content_playqueue .bgcolor1 {
}

#content_artst .bgcolor2 {
    background-color: #1F1F1F;
    opacity: 0.80;
}

#content_artst .bgcolor1 {
    background-color: #333;
    opacity: 0.90;
}

.dropshadow {
    border: 1px solid #222;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.85;
    filter:alpha(opacity=85); 
    -moz-box-shadow:    0 0 15px 5px #222;
    -webkit-box-shadow: 0 0 15px 5px #222;
    box-shadow:         0 0 15px 5px #222;
}

.dropshadow:hover {
    opacity:0.95;
    filter:alpha(opacity=95); 
    border: 1px solid #666;
}

.rankex {
    white-space: nowrap;
    font-size: 6pt;
    line-height: 1.40em;
    background: url('../icons/madsonic_black/rank.png') no-repeat right;
    padding: 8px 3px 8px 8px;
    margin-left: -2px;
    color: #FFC200;
    font-family: verdana, arial, sans-serif;
}


/* Custom */
span.off {
    background: #FFF !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;
}

span.on {
    background: #33B5E5 !important;
    border: solid 1px #FFFFFF !important;
    font-size: 8pt;    
}

span.off:hover {
    background: #33B5E5 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
    }

span.off2 {
    border: solid 1px #777777  !important;
    font-size: 8pt;    
}

span.on2 {
    background: #33B5E5 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
}

span.off2:hover  {
    background: #33B5E5 !important;
    border: solid 1px #777777  !important;
    font-size: 8pt;    
    }
    

.ruleTableCellDB {
    border: 1px solid #222;
    white-space: nowrap;
    font-size: 7pt;
    margin: 1px;
    padding: 2px;
}

.maincontrol {
    line-height: 30px;
}


img.starSong {
    margin-top: 4px;    
    margin-right: 8px;
}

img#starImage {
    padding-left: 1px;    
    padding-right: 8px;
    padding-bottom: 3px;
}



#bitrate_menu {
    color: #999 !important;
}    

 #toogleGenre {
    top: 75px;
}

input {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    font-family: 'Montserrat', Arial, serif; 
    font-weight: 400;
    padding: 6px 8px 6px 8px;
	margin-left: 4px;	
    font-size: 12px;
    color: #fff !important;
    background-color: #0D3A3D;
    border: 1px solid #006158;
    background-repeat: repeat;
    background-size: 140px 140px;
}

select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1DBDB;
    border-radius: 5px;
    color: #444444 !important;
    font-family: 'Montserrat', Arial, serif; 
    font-weight: 400;
    font-size: 8pt;
    padding: 5px 5px 5px 5px;
	margin-left: 4px;	
    font-size: 11px;
    color: #fff !important;
    background-color: #0D3A3D;
    border: 1px solid #006158;
    background-repeat: repeat;
    background-size: 140px 140px;    
}


button{
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
    background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
    border: 1px solid #111;
}
 
input[type=button]{
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #4c4c4c 50%, #3d3d3d 53%, #2b2b2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(50%,#4c4c4c), color-stop(53%,#3d3d3d), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* IE10+ */
    background: linear-gradient(top, #7d7e7d 0%,#4c4c4c 50%,#3d3d3d 53%,#2b2b2b 100%); /* W3C */
    border: 1px solid #111;
}
input[type=submit]{
    background: #3567a0; /* Old browsers */
    background: -moz-linear-gradient(top, #3567a0 0%, #1c5396 50%, #1f4c87 53%, #0b3c74 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3567a0), color-stop(50%,#1c5396), color-stop(53%,#1f4c87), color-stop(100%,#0b3c74)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* IE10+ */
    background: linear-gradient(top, #3567a0 0%,#1c5396 50%,#1f4c87 53%,#0b3c74 100%); /* W3C */
    border: 1px solid #06203e;
}


#listRows {
    font-size: 11px;
    float: left;
    color: #fff !important;
    display: block;
    border: 1px solid #006158;
}

#listColumns {
    font-size: 11px;
    float: left;
    color: #fff !important;
    display: block;
    border: 1px solid #006158;
}

#query {
    font-size: 11px;
    color: #222 !important;
    border: 1px solid #eee;
    background-image: url("../icons/madsonic_black/bg-white.jpg");
}

#j_username {
    color: #222 !important;
    border: 1px solid #ddd;
    background-image: url("../icons/madsonic_black/bg-white.jpg");
}

#j_password {
    color: #222 !important;
    border: 1px solid #ddd;
    background-image: url("../icons/madsonic_black/bg-white.jpg");
}

#moreActions option {
    color:white !important;
}

#moreActions optgroup {
    color:lightblue !important;
    font-style:normal;
}

.mainframe .dense {
white-space: nowrap;
font-size: 10pt;
margin: 8px;
/* line-height: 1.5em; */
}

.mainframe .dense a {
white-space: nowrap;
font-size: 10pt;
font-weight: 700;
/* line-height: 1.5em; */
}

span {
font-size: 10pt;
}

.online {
    font-size: 8pt;
	color: #83B578;
}

.offline {
    font-size: 8pt;
	color: #FAE157;
}

.easyPieChartBarColor {
	color:#33B5E5;
}
.easyPieChartScaleColor {
	color:#7E7E7A;
}
.easyPieChartTrackColor {
	color:#41565D;
}

.highlight {
    color: rgb(180, 220, 228);
}

.dd-theme-classic, .dd-all {
    border-color:#006158 !important; 
    font-size: 9pt !important;
    color: #eee !important; 
    padding: 8px 15px 8px 15px !important;  
}

.ad {
box-shadow: 0px 0px 15px #000;
background-color: #181818;
border-radius: 5px;
}

.mainframe.splash {
	background-color:#134441  !important;
}

.nowPlaying {
    padding: 0px 0px 5px 10px;
    background-color: rgba(24, 24, 24, 0.33);
}

/* Color for warning messages. */
.warning {
    color: orange;
}

.status {
	color: #FAE157;
}

.accent {
    color: #7B9DB6;
}

.info {
	color: rgb(44, 180, 44);
}

.error {
    color: red;
}

.online {
	color: #83B578;
}

.offline {
	color: #FAE157;
}

.starred {
    color: #009BCA !important;
}

.loved {
    color: #009BCA !important;
}

.control {
    color: #DDDDDD !important;
}

.hot {
    color: orange !important;
}

img.tv {
    padding: 25px 40px 25px 40px;
    background-color: rgb(55, 54, 54);
}

#media_control {
  background-color: #101010 !important;
}

.ui-button-text {
  color: #FFF !important;
}

.detailyear {
    color: #fff !important;
}

option {
    background-color: #222;
    color: #ffffff;
}

.playlistframe .bgcolor2 {
    background-color: #081B1B;
}

#content_main table.music tr { line-height: 25px; border-bottom: 1px solid #0E3535 !important; }

#content_main  table.content tr:nth-of-type(even) {  line-height: 25px;background: #0E3535; }
#content_main  table.content tr:nth-of-type(odd) {  line-height: 25px;background: #124C4C; }

#content_home  table.music tr:nth-of-type(even) {  line-height: 25px;background: #0E3535; }
#content_home  table.music tr:nth-of-type(odd) {  line-height: 25px;background: #124C4C; }

#content_main  table th { line-height:25px;}
#content_main  table tr { border-bottom: 1px solid rgba(0,0,0,.08) !important; }

#playlistBody tr { line-height:25px; border-bottom: 1px solid rgba(0,0,0,.08) !important; }

#playlistBody tr:nth-of-type(even) {line-height:25px;background: #0E3535; }
#playlistBody tr:nth-of-type(odd) {line-height:25px;background: #124C4C; }

#startButton, #stopButton {
    cursor:pointer; font-size:30px; color:#0090BB !important;
}
#previousButton, #nextButton ,#fastpreviousButton, #fastnextButton  {
    color:#000 !important; 
}
#bufferButton {
    font-size:30px; color:#0090BB !important;
}



.custom-icon-rank {
  font-size:10px;
  font-family: 'Montserrat', Arial, serif  !important;
}


.custom-icon-header {
  font-size:20px !important;
  background:#fff;
  padding:6px 4px 3px 4px;
  margin:0 10px 6px 5px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
	box-shadow: 0 1px 5px rgba(16, 16, 16, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:24px;
  height:24px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon {
  font-size:7px;
  background:#fff;
  padding:6px 4px 3px 4px;
  margin:3px 1px 3px 1px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
	box-shadow: 0 1px 5px rgba(16, 16, 16, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon-main {
  font-size:14px !important;
  background:#fff;
  padding:7px 4px 4px 5px;
  margin:0 0 8px 0;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:16px;
  height:16px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.custom-icon:hover {
  background:rgba(0,0,0,0.8);
  color: orange;
}

.custom-icon-nohover {
  font-size:7px;
  background:#fff;
  padding:6px 4px 4px 4px;
  margin:0px;
  background:rgba(0,0,0,0.2);
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -o-border-radius:25%;
  border-radius:25%;
  border:1px solid #111 !important;
  color:#fff;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:14px;
  height:14px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}

.browse-index-shortcut {
    font-size: 150% !important;
}