/*
 * CSS styleshet Playericons theme.
 *
 */

/* Player images */

a#play1         {background-image:url("../../icons/buttonPlayer/orange/play1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#stop1         {background-image:url("../../icons/buttonPlayer/orange/stop.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#rewind1      {background-image:url("../../icons/buttonPlayer/orange/rewind1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#rewind2      {background-image:url("../../icons/buttonPlayer/orange/rewind2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#forward1    {background-image:url("../../icons/buttonPlayer/orange/forward1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#forward2    {background-image:url("../../icons/buttonPlayer/orange/forward2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#clear1        {background-image:url("../../icons/buttonPlayer/orange/clear1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#shuffle      {background-image:url("../../icons/buttonPlayer/orange/shuffle.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#repeat_on   {background-image:url("../../icons/buttonPlayer/orange/repeat_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#repeat_off {background-image:url("../../icons/buttonPlayer/orange/repeat_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#followMe_on   {background-image:url("../../icons/buttonPlayer/orange/follow_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#followMe_off {background-image:url("../../icons/buttonPlayer/orange/follow_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#undo              {background-image:url("../../icons/buttonPlayer/orange/undo.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#settings1    {background-image:url("../../icons/buttonPlayer/orange/settings1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#save              {background-image:url("../../icons/buttonPlayer/orange/save.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#lock0              {background-image:url("../../icons/buttonPlayer/orange/lock0.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#lock1              {background-image:url("../../icons/buttonPlayer/orange/lock1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#lock2             {background-image:url("../../icons/buttonPlayer/orange/lock2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#book1             {background-image:url("../../icons/buttonPlayer/orange/book1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#book2             {background-image:url("../../icons/buttonPlayer/orange/book2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#book3             {background-image:url("../../icons/buttonPlayer/orange/book3.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 