/*
 * CSS styleshet Playericons theme.
 *
 */

/* Player images */

a#stop1             {background-image:url("../../icons/buttonPlayer/black/stop.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#rewind1        {background-image:url("../../icons/buttonPlayer/black/rewind1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#rewind2        {background-image:url("../../icons/buttonPlayer/black/rewind2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#forward1       {background-image:url("../../icons/buttonPlayer/black/forward1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#forward2       {background-image:url("../../icons/buttonPlayer/black/forward2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#clear1           {background-image:url("../../icons/buttonPlayer/black/clear1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#shuffle         {background-image:url("../../icons/buttonPlayer/black/shuffle.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#repeat_on     {background-image:url("../../icons/buttonPlayer/black/repeat_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#repeat_off   {background-image:url("../../icons/buttonPlayer/black/repeat_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#followMe_on   {background-image:url("../../icons/buttonPlayer/black/follow_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#followMe_off {background-image:url("../../icons/buttonPlayer/black/follow_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#undo              {background-image:url("../../icons/buttonPlayer/black/undo.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
a#settings1    {background-image:url("../../icons/buttonPlayer/black/settings1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#save              {background-image:url("../../icons/buttonPlayer/black/save.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#lock0              {background-image:url("../../icons/buttonPlayer/black/lock0.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#lock1              {background-image:url("../../icons/buttonPlayer/black/lock1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#lock2             {background-image:url("../../icons/buttonPlayer/black/lock2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#loadQueue     {background-image:url("../../icons/buttonPlayer/black/loadQueue.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#saveQueue     {background-image:url("../../icons/buttonPlayer/black/saveQueue.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#book1             {background-image:url("../../icons/buttonPlayer/black/book1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#book2             {background-image:url("../../icons/buttonPlayer/black/book2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
a#book3             {background-image:url("../../icons/buttonPlayer/black/book3.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 