/*
 * CSS styleshet Playericons theme.
 *
 */

/* Player images */

a#rewind1      {background-image:url("../../icons/buttonPlayer/silver/rewind1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#rewind2      {background-image:url("../../icons/buttonPlayer/silver/rewind2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#forward1    {background-image:url("../../icons/buttonPlayer/silver/forward1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#forward2    {background-image:url("../../icons/buttonPlayer/silver/forward2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#clear1        {background-image:url("../../icons/buttonPlayer/silver/clear1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#shuffle      {background-image:url("../../icons/buttonPlayer/silver/shuffle.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#repeat_on   {background-image:url("../../icons/buttonPlayer/silver/repeat_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#repeat_off {background-image:url("../../icons/buttonPlayer/silver/repeat_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#followMe_on   {background-image:url("../../icons/buttonPlayer/silver/follow_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#followMe_off {background-image:url("../../icons/buttonPlayer/silver/follow_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#undo            {background-image:url("../../icons/buttonPlayer/silver/undo.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#settings1   {background-image:url("../../icons/buttonPlayer/silver/settings1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#save   {background-image:url("../../icons/buttonPlayer/silver/save.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#stop1   {background-image:url("../../icons/buttonPlayer/silver/stop.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#lock0   {background-image:url("../../icons/buttonPlayer/silver/lock0.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#lock1  {background-image:url("../../icons/buttonPlayer/silver/lock1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#lock2 {background-image:url("../../icons/buttonPlayer/silver/lock2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#loadQueue     {background-image:url("../../icons/buttonPlayer/silver/loadQueue.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#saveQueue     {background-image:url("../../icons/buttonPlayer/silver/saveQueue.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#book1     {background-image:url("../../icons/buttonPlayer/silver/book1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#book2     {background-image:url("../../icons/buttonPlayer/silver/book2.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#book3     {background-image:url("../../icons/buttonPlayer/silver/book3.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 