/*
 * CSS styleshet Playericons theme.
 *
 */

/* Player images */

a#rewind1       {background-image:url("../../icons/buttonPlayer/4kblack/rewind1.png");    background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#rewind2       {background-image:url("../../icons/buttonPlayer/4kblack/rewind2.png");    background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#forward1      {background-image:url("../../icons/buttonPlayer/4kblack/forward1.png");   background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#forward2      {background-image:url("../../icons/buttonPlayer/4kblack/forward2.png");   background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#clear1        {background-image:url("../../icons/buttonPlayer/4kblack/clear1.png");     background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#shuffle       {background-image:url("../../icons/buttonPlayer/4kblack/shuffle.png");    background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#repeat_on     {background-image:url("../../icons/buttonPlayer/4kblack/repeat_on.png");  background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#repeat_off    {background-image:url("../../icons/buttonPlayer/4kblack/repeat_off.png"); background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#followMe_on   {background-image:url("../../icons/buttonPlayer/4kblack/follow_on.png");  background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#followMe_off  {background-image:url("../../icons/buttonPlayer/4kblack/follow_off.png"); background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#undo          {background-image:url("../../icons/buttonPlayer/4kblack/undo.png");       background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;}
a#settings1     {background-image:url("../../icons/buttonPlayer/4kblack/settings1.png");  background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#save          {background-image:url("../../icons/buttonPlayer/4kblack/save.png");       background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#stop1         {background-image:url("../../icons/buttonPlayer/4kblack/stop.png");       background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#lock0         {background-image:url("../../icons/buttonPlayer/4kblack/lock0.png");      background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#lock1         {background-image:url("../../icons/buttonPlayer/4kblack/lock1.png");      background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#lock2         {background-image:url("../../icons/buttonPlayer/4kblack/lock2.png");      background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#loadQueue     {background-image:url("../../icons/buttonPlayer/4kblack/loadQueue.png");  background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#saveQueue     {background-image:url("../../icons/buttonPlayer/4kblack/saveQueue.png");  background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#book1         {background-image:url("../../icons/buttonPlayer/4kblack/book1.png");      background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#book2         {background-image:url("../../icons/buttonPlayer/4kblack/book2.png");      background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#book3         {background-image:url("../../icons/buttonPlayer/4kblack/book3.png");      background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#starred_on    {background-image:url("../../icons/buttonPlayer/4kblack/starOn.png");     background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#starred_off   {background-image:url("../../icons/buttonPlayer/4kblack/starOff.png");    background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:block;text-indent: -9999px;} 
a#loved_on      {background-image:url("../../icons/buttonPlayer/4kblack/loved_on.png");   background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:none; text-indent: -9999px;} 
a#loved_off     {background-image:url("../../icons/buttonPlayer/4kblack/loved_off.png");  background-size: 24px; background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 24px; display:none; text-indent: -9999px;} 
a#node          {background-image:url("../../icons/buttonPlayer/4kblack/node.png");       background-size: 32px; background-position: 0px 0px; background-repeat:no-repeat; height: 32px; width: 32px; display:block;text-indent: -9999px;} 