	.image_stack img { /* css style for photo stack */
		border: none;
		position: relative;
		margin-left:0;
		width: 60px;
		height: 60px;
	}
	.image_stack { /* css style for photo stack */
		width: 80px;
		position: relative;
		margin:10px 10px 10px;
	}
	.image_stack img { /* css style for photo stack */
		position: absolute;
		border: 4px solid #FFF;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
		z-index: 99;
		-moz-transition: all 0.2s ease;  /* Firefox */
		-webkit-transition: all 0.2s ease;  /* WebKit */
		-o-transition: all 0.2s ease;  /* Opera */
		transition: all 0.2s ease;  /* Standard */
	}
	.image_stack #photo1 {  /* position of last photo in the stack */
		top: -8px;
		left: 18px;
		z-index: 15;
	}
	.image_stack #photo2 {/* position of middle photo in the stack */
		top: -6px;
		left: 22px;
		z-index: 10;
	}
	.image_stack #photo3 {/* position of first photo at the top in the stack */
		top: -4px;
		left: 26px;
		z-index: 5;
	}

	.image_stack2 img { /* css style for photo stack */
		border: none;
		position: relative;
		margin-left:0;
		width: 60px;
		height: 60px;
	}	
	
	.image_stack2 { /* css style for photo stack */
		width: 80px;
		position: absolute;
		margin:10px 10px 10px;
	}	
	
	.image_stack2 img { /* css style for photo stack */
		position: absolute;
		border: 4px solid #FFF;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
		z-index: 99;
		-moz-transition: all 0.2s ease;  /* Firefox */
		-webkit-transition: all 0.2s ease;  /* WebKit */
		-o-transition: all 0.2s ease;  /* Opera */
		transition: all 0.2s ease;  /* Standard */
	}

	.image_stack2 #photo1 {  /* position of last photo in the stack */
		top: -8px;
		left: 18px;
		z-index: 15;
	}
	.image_stack2 #photo2 {/* position of middle photo in the stack */
		top: -6px;
		left: 22px;
		z-index: 10;
	}
	.image_stack2 #photo3 {/* position of first photo at the top in the stack */
		top: -4px;
		left: 26px;
		z-index: 5;
	}
	
	.image_stack .rotate1 {/* rotate last image 15 degrees to the right */
		-webkit-transform: rotate(15deg); /* safari and chrome */
		-moz-transform: rotate(15deg);/*firefox browsers */
		transform: rotate(15deg);/*other */
		-ms-transform:rotate(15deg); /* Internet Explorer 9 */
		-o-transform:rotate(15deg); /* Opera */
		cursor: pointer;	
	}
	.image_stack .rotate2 {/* css not used*/
		-webkit-transform: rotate(0deg); /* safari and chrome */
		-moz-transform: rotate(0deg);/*firefox browsers */
		transform: rotate(0deg);/*other */
		-ms-transform:rotate(0deg); /* Internet Explorer 9 */
		-o-transform:rotate(0deg); /* Opera */
		cursor: pointer;	
	}
	.image_stack .rotate3 {/*rotate first image 15 degrees to the left*/
		-webkit-transform: rotate(-15deg); /* safari and chrome */
		-moz-transform: rotate(-15deg); /*firefox browsers */
		transform: rotate(-15deg);/*other */
		-ms-transform:rotate(-15deg); /* Internet Explorer 9 */
		-o-transform:rotate(-15deg); /* Opera */
		cursor: pointer;
	}
	.image_stack .rotate4 {/*rotate first image 15 degrees to the left*/
		-webkit-transform: rotate(5deg); /* safari and chrome */
		-moz-transform: rotate(5deg); /*firefox browsers */
		transform: rotate(5deg);/*other */
		-ms-transform:rotate(5deg); /* Internet Explorer 9 */
		-o-transform:rotate(5deg); /* Opera */
		cursor: pointer;
	}
	.image_stack .rotate5 {/*rotate first image 15 degrees to the left*/
		-webkit-transform: rotate(-5deg); /* safari and chrome */
		-moz-transform: rotate(-5deg); /*firefox browsers */
		transform: rotate(-5deg);/*other */
		-ms-transform:rotate(-5deg); /* Internet Explorer 9 */
		-o-transform:rotate(-5deg); /* Opera */
		cursor: pointer;
	}

	.image_stack2 .rotate1 {/* rotate last image 15 degrees to the right */
		-webkit-transform: rotate(15deg); /* safari and chrome */
		-moz-transform: rotate(15deg);/*firefox browsers */
		transform: rotate(15deg);/*other */
		-ms-transform:rotate(15deg); /* Internet Explorer 9 */
		-o-transform:rotate(15deg); /* Opera */
		cursor: pointer;	
	}
	.image_stack2 .rotate2 {/* css not used*/
		-webkit-transform: rotate(0deg); /* safari and chrome */
		-moz-transform: rotate(0deg);/*firefox browsers */
		transform: rotate(0deg);/*other */
		-ms-transform:rotate(0deg); /* Internet Explorer 9 */
		-o-transform:rotate(0deg); /* Opera */
		cursor: pointer;	
	}
	.image_stack2 .rotate3 {/*rotate first image 15 degrees to the left*/
		-webkit-transform: rotate(-15deg); /* safari and chrome */
		-moz-transform: rotate(-15deg); /*firefox browsers */
		transform: rotate(-15deg);/*other */
		-ms-transform:rotate(-15deg); /* Internet Explorer 9 */
		-o-transform:rotate(-15deg); /* Opera */
		cursor: pointer;
	}
	.image_stack2 .rotate4 {/*rotate first image 15 degrees to the left*/
		-webkit-transform: rotate(5deg); /* safari and chrome */
		-moz-transform: rotate(5deg); /*firefox browsers */
		transform: rotate(5deg);/*other */
		-ms-transform:rotate(5deg); /* Internet Explorer 9 */
		-o-transform:rotate(5deg); /* Opera */
		cursor: pointer;
	}
	.image_stack2 .rotate5 {/*rotate first image 15 degrees to the left*/
		-webkit-transform: rotate(-5deg); /* safari and chrome */
		-moz-transform: rotate(-5deg); /*firefox browsers */
		transform: rotate(-5deg);/*other */
		-ms-transform:rotate(-5deg); /* Internet Explorer 9 */
		-o-transform:rotate(-5deg); /* Opera */
		cursor: pointer;
	}

	/*
	span.off2 {
		cursor: pointer;
		float:left;
		padding: 3px 9px;
		margin: 2px;
		 background: #D2D2D2; 
		color: #FFF;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		border: solid 1px #333;
		-webkit-transition-duration: 0.1s;
		-moz-transition-duration: 0.1s;
		transition-duration: 0.1s;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		white-space: nowrap;
		font-size: 90%;	
	}

	span.on2 {
		cursor: pointer;
		float:left;
		padding: 3px 9px;
		margin: 2px;
		background: #D2D2D2; 
		color: #FFF;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		border: solid 1px #333;
		-webkit-transition-duration: 0.1s;
		-moz-transition-duration: 0.1s;
		transition-duration: 0.1s;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		white-space: nowrap;
		font-size: 90%;
	}

	span.off2:hover {
		 background: #333;opacity:0.7; 
		border: solid 1px #333;
		text-decoration: none;
		font-size: 90%;
		}	
        
        */