/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity 1.0s; /*adjust timing here */
         -moz-transition: opacity 1.0s;
           -o-transition: opacity 1.0s;
              transition: opacity 1.0s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 5px 5px;
    font-size: 11px;
    border-radius: 5px;
    margin: 3px 0 0 0;    
}

.nav-tabs {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 46px;
}

.nav > li > a {
    padding: 3px 10px;
    border-radius: 5px 5px 5px 5px;    
}

.nav-tabs {
    border-bottom: 1px solid #666;
}

	.carousel-caption {
		top:auto;
		width:auto;
        max-width: 125px;
		bottom: 0px;
		left: 5px;
		padding: 5px;
		padding-top: 0px;
		background:rgba(0,0,0,0.70);
		text-align:bottom;
        height:auto;
		margin-top: 8px;
		margin-bottom: 2px;        
		margin-left: 0px;
		margin-right: 6px;
        font-size:10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;        
	}

	.carousel-indicators {
	bottom: -5px;
	}

ul#pics li {/*css style for the single photo only **/
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	border: 4px solid #FFF;
	display: inline-block;
	width: 60px;
	height:60px;
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}

ul#pics li img {/*css style for the single photo only **/
	width: 60px;
	height:60px;
	display: block;
}
ul#pics li:hover {/*css style for the single photo only **/
	-moz-transform: scale(1.1) rotate(0deg);
	-webkit-transform: scale(1.1) rotate(0deg);
	-o-transform: scale(1.1) rotate(0deg);
	-ms-transform: scale(1.1) rotate(0deg);
	transform: scale(1.1) rotate(0deg);
}
.single_photo {/*css style for the single photo only **/
	margin-top : 0px;
	margin-left: 0px;
	margin-top: 12px;
}

.image_stack img { /* css style for photo stack */
	border: none;
	text-decoration: none;
	position: absolute;
	margin-left:0px;
	width: 160px;
	height: 160px;
}
.image_stack { /* css style for photo stack */
	width: 100px;
	position: absolute;
	margin:10px 10px 10px;
}
.image_stack img { /* css style for photo stack */
	position: absolute;
	border: 4px solid #FFF;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	z-index: 9999;
	/* Firefox */
	-moz-transition: all 0.2s ease;
	/* WebKit */
	-webkit-transition: all 0.2s ease;
	/* Opera */
	-o-transition: all 0.2s ease;
	/* Standard */
	transition: all 0.2s ease;
}
.image_stack #photo1 {  
	top: 12px;
	left: 214px;
    z-index: 10;      
}
.image_stack #photo2 {
	top: 10px;
	left: 210px;
    z-index: 20;      
}
.image_stack #photo3 {
	top: 8px;
	left: 206px;
    z-index: 30;      
}
.image_stack #photo4 { 
	top: 6px;
	left: 202px;
    z-index: 40;    
}
.image_stack #photo5 {
	top: 4px;
	left: 198px;
    z-index: 50;
}
.image_stack #photo6 {
	top: 2px;
	left: 194px;
    z-index: 60;    
}
.image_stack #photo7 {
	top: 0px;
	left: 190px;
    z-index: 70;      
}

.image_stack .rotate0 {/* css not used*/
	-webkit-transform: rotate(0deg); /* safari and chrome */
	-moz-transform: rotate(0deg);/*firefox browsers */
	transform: rotate(0deg);/*other */
	-ms-transform:rotate(0deg); /* Internet Explorer 9 */
	-o-transform:rotate(0deg); /* Opera */
	cursor: pointer;	
}

.image_stack .rotate15 {/* rotate last image 15 degrees to the right */
	-webkit-transform: rotate(15deg); /* safari and chrome */
	-moz-transform: rotate(15deg);/*firefox browsers */
	transform: rotate(15deg);/*other */
	-ms-transform:rotate(15deg); /* Internet Explorer 9 */
	-o-transform:rotate(15deg); /* Opera */
	cursor: pointer;	
}

.image_stack .rotate-15 {/*rotate first image 15 degrees to the left*/
	-webkit-transform: rotate(-15deg); /* safari and chrome */
	-moz-transform: rotate(-15deg); /*firefox browsers */
	transform: rotate(-15deg);/*other */
	-ms-transform:rotate(-15deg); /* Internet Explorer 9 */
	-o-transform:rotate(-15deg); /* Opera */
	cursor: pointer;
}

.image_stack .rotate30 {/* rotate last image 15 degrees to the right */
	-webkit-transform: rotate(30deg); /* safari and chrome */
	-moz-transform: rotate(30deg);/*firefox browsers */
	transform: rotate(30deg);/*other */
	-ms-transform:rotate(30deg); /* Internet Explorer 9 */
	-o-transform:rotate(30deg); /* Opera */
	cursor: pointer;	
}
.image_stack .rotate-30 {/* css not used*/
	-webkit-transform: rotate(-30deg); /* safari and chrome */
	-moz-transform: rotate(-30deg);/*firefox browsers */
	transform: rotate(-30deg);/*other */
	-ms-transform:rotate(-30deg); /* Internet Explorer 9 */
	-o-transform:rotate(-30deg); /* Opera */
	cursor: pointer;	
}

.image_stack .rotate45 {/* rotate last image 15 degrees to the right */
	-webkit-transform: rotate(45deg); /* safari and chrome */
	-moz-transform: rotate(45deg);/*firefox browsers */
	transform: rotate(45deg);/*other */
	-ms-transform:rotate(45deg); /* Internet Explorer 9 */
	-o-transform:rotate(45deg); /* Opera */
	cursor: pointer;	
}

.image_stack .rotate-45 {/* rotate last image 15 degrees to the right */
	-webkit-transform: rotate(-45deg); /* safari and chrome */
	-moz-transform: rotate(-45deg);/*firefox browsers */
	transform: rotate(-45deg);/*other */
	-ms-transform:rotate(-45deg); /* Internet Explorer 9 */
	-o-transform:rotate(-45deg); /* Opera */
	cursor: pointer;	
}


